@charset "utf-8";
/* CSS Document */

	.headFilter { background-color:#878f99; position:relative;}
	.bodyFilter { background-color:#ecedef;}
	.boxFilter { margin-bottom:8px;}
	.headFilter-txt { font: bold 13px/36px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#fff; text-transform:uppercase; padding-left:30px;}
	.headFilter-iCollapse {
		position:absolute;
		height:100%;
		width:30px; top:0; left:0;
		background-repeat:no-repeat;
		background-position: -14px 6px;
		cursor:pointer;
	}
	.headFilter-iCollapse .iconDir { background-position: -8px 0; width:10px; height:10px; margin:13px 0 0 10px; opacity:.4; transition:opacity .3s; }
	.headFilter-iCollapse:hover .iconDir  { opacity:1;}
	.headFilter-iCollapse.iCollapse-close .iconDir { background-position: -8px -10px;}
	
	.extraInfoHeader { position:absolute; right:0; top:0;}
	.extraInfoHeader-txt { line-height:36px; font-size:12px; color: #fff; padding-right:10px;}
	.headFilter-txt h2 { margin:0; padding:0; font: bold 13px/36px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#fff;  }
	
	.headAccordion { cursor:pointer; position:relative;}
	.headAccordion .iconDir { width:7px; height:4px; position:absolute; top:14px; left:5px; background-position:0 -14px;	}
	.headAccordion.iCollapse-close .iconDir {background-position:0 -9px;}
	.headAccordion h3 {  margin:0 0 0 20px; padding:6px 0; font: 600 13px/18px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#7aa326; }
	.containerCursos, .containerEdad, .containerAreaConocimiento, .containerTiposActividad, .containerIdioma  { padding:12px 17px;}
	.draw-map { height:200px;} 
	
/* area de conocimiento */
.filtroArea { background-color:#fff; padding:3px 25px; border-radius:4px; position:relative; border:1px solid #aaa; box-shadow:rgba(0,0,0,0.37) 0 2px 5px -3px;}
.filtroArea input { border:none; background-color:#fff; width:100%; padding:0; }
.filtroArea input::-ms-clear{ display: none;}
.filtroArea input:focus { outline:none;}

.iconBuscar { width:13px; height:13px; top:50%; left:6px; position:absolute; margin-top:-7px; background-position:0 -20px; opacity:.45;}
.iCloseFilter { display:none; width:15px; height:15px; top:50%; right:6px; position:absolute; margin-top:-7px;  background-position:0 -33px; cursor:pointer; opacity:.65; transition:opacity .3s;}
.iCloseFilter:hover { opacity:.9;}
.iCloseFilter:active { opacity:1; margin-top:-6px;}

.iListArrowLeft { display:block; position:relative; padding-left:16px;}
.iListArrowLeft:before {background-image: url(../../../img/iDirectorio.png); background-position:-13px -20px; background-repeat:no-repeat; display:block; content:" "; width:4px; height:7px; position:absolute; left:2px; top:7px; }

.container-asignaturas .listItemsFiltro { padding-left:25px;}
.listItemsFiltro ul, .listItemsFiltro li { margin:0; padding:0; list-style-type:none;}
.listItemsFiltro ul { padding:10px 0 7px 11px;}
.listItemsFiltro a { display:block; color:#7aa326; text-decoration:none; padding-top:1px; padding-bottom:1px;} 
.listItemsFiltro label { padding:1px 0; font-size:13px; display:block; cursor:pointer;}
.listItemsFiltro input { margin-right:8px; vertical-align:middle;}

#accordion.listItemsFiltro ul { padding:2px 0 8px 22px;}
.moreResults { text-align:center; display:block; margin:0; padding:6px 0;}
.moreResults a {font-size:12px; text-decoration:none; color:#767677;}

.container-slider { width:552px;  transition:all .5s; }
.containerCursos { width:276px; overflow:hidden;}
#accordion, .container-asignaturas { width:276px; float:left; }
.container-asignaturas { display:none; }
.container-slider.slider2 { margin-left:-293px;}
.container-slider.slider2 .container-asignaturas {
	display:block; 
	-webkit-animation-name: fadeIn;
		  animation-name: fadeIn;
	-webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
	
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.volver-cursos a { display:block; background-color:rgba(0,0,0,0.08); padding:3px 12px; color:#7aa326; font-weight:bold; text-decoration:none; font-size:12px;}
.volver-cursos .iconDir { background-position:-13px -27px; display:inline-block; width:4px; height:7px; margin:3px 10px 0 3px; transition:all .2s;}
.volver-cursos a:hover .iconDir { margin-left:0; margin-right:13px;}
.tagFilter {
	-webkit-animation-name: fadeIn;
		  animation-name: fadeIn;
	-webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;	
}

.select-box { width:150px; margin-top:8px;}
.titCursoAsignaturas { text-align:right; font-weight:bold; font-size:12px; padding:3px 0;}
.listItemsFiltro a label { color:#333;}

.indicadorCantidad {  font-size:11px; color:#888; font-weight:bold; vertical-align:super;}
a .texto { padding-right:20px;}
.indicadorCantidad {position:absolute; right:0; top:1px;}
.listItemsFiltro a label { position:relative;}
.headAccordion  { position:relative; }
h3 .indicadorCantidad { top:4px;}
.headAccordion h3 { padding-right:20px;}

#listaAsignaturas label input {pointer-events:none;}
