@charset "utf-8";
/* CSS Document */

.iconDir { background-image: url(../../../img/iDirectorio.png); background-repeat:no-repeat; display:block;}
.resultados-directorio { font-size:13px;}

/* maqueta directorio */
	.column-boxFilters { width:310px; float:right; }
	
	.header-directorio h1 {  width:656px; border-bottom:1px solid #e5e5e5; margin:0; 
	font:500 23px/26px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#78AA10;
	} 
	.header-directorio { position:relative; border-bottom:1px solid #e5e5e5; width:656px; padding:9px 0;}
	.container-tagFilter { padding:10px 0;}
	
	
	/* responsive directorio */
	
	.column-boxFilters { width:310px; float:right; }
	.column-activities { width:auto; float:none;}
	.header-directorio h1 {  width:656px; width:auto; } 
	.header-directorio { width:656px; margin-right:340px; width:auto; float:none;}
/* paginador */

	#paginador { clear:both; font:0/0 Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; padding:6px 0 16px; text-align:center;}
	
	.pag { vertical-align:middle; display:inline-block; font:bold 12px/30px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; text-decoration:none;
	border:1px solid #cad2d5; border-left:none; min-width:34px; box-sizing:border-box; padding:0 5px; text-align:center; color:#78AA10; cursor:pointer; border-radius:1px;
	transition:background .3s; background-color:#fff; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
	.pag:first-child { border-left:1px solid #cad2d5; border-radius:6px 0 0 6px;}
	.pag:last-child {border-radius:0 6px 6px 0;}
	.pag:hover {background-color: #EEF1F2;}
	.pag:active {background-color: #EAEDEE;	box-shadow: inset rgba(0,0,0,0.12) 0 1px 1px;}
	.pag.activo { background-color:#78AA10; color:#fff; border-color:#78AA10;}
	.pag.oculto { display:none;}
	.numPagsEtc2, .numPagsEtc1, .numPagsEtc2:hover, .numPagsEtc1:hover, .numPagsEtc2:active, .numPagsEtc1:active { box-shadow:none; border-top:none; border-bottom:none; cursor:default; background-color:#fff;}
	.numPags2, .numPags1 { font-size:18px; min-width:42px; }
	
	#listActividadesTes { min-height:170px; margin-bottom:50px; float:left; width:100%; }
	
	 
/* Mensajes */ 

.msgTesauro { text-align:center; padding-top:20px;}
.msgError { font-weight:bold; color:#D13336;}
.msgSinActividades { padding-top:20px; max-width:55%; margin:0 auto; font-size:18px; line-height:23px;
 background-image: url(../../../img/noResultados.png); padding:136px 0 0; background-repeat:no-repeat; background-position:center 8px;
 }
.msgLoading { text-align:center; background-image: url(../../../img/load.gif); padding:42px 0 0; background-repeat:no-repeat; background-position:center 8px; }
.le.boxact strong {font-size:11px; line-height:16px;}

.boxbusact, .boxbusautor, .boxbusGrupos {}

/* responsive */
.col3 { width:64%;}

@media only screen and (max-width:940px) {
	.column-boxFilters, .column-activities { float:none; margin:auto;}
	.header-directorio { margin-right:0;}
	.col3 { width:100%; }
}