/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
	min-width:100px;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }
.dropit-menu  { display:inline-block;}

.dropit-menu-select { font-weight:bold; text-decoration:none; color:#333; line-height:25px;  display:inline-block; padding:0 4px;}
.dropit-menu-select:after { display:inline-block; content:" "; vertical-align:middle; background-image: url(../../../img/iDirectorio.png);  transition:all .3s; background-repeat:no-repeat;  width: 7px; height: 4px; margin-left:6px; background-position: 0 -14px; }
.dropit-submenu a { display:block; background-color:#fff; color:#333; text-decoration:none; padding:3px 7px; transition:all .3s;}
.dropit-submenu a:hover { background-color:#EFEFEF;}
.dropit-submenu li:last-child a { border-bottom:none;} 
.dropit-submenu { border-radius:3px; overflow:hidden; box-shadow:rgba(0,0,0,0.4) 0 2px 6px;}

.dropit-submenu a.dropit-menu-item-select { background-color:#7aa326; font-weight:bold; color:#fff;}
.dropit-menu li { display:inline;}

/* dropit-menu recursos educativos */
.box-filters-recursos .dropit-menu-select {
	border:1px solid #cfd3d7;
	padding:1px 8px;
	background-color:#fff;
	border-radius:5px;
	line-height:22px;
	transition:box-shadow .3s;
}
.box-filters-recursos .dropit-menu-select:hover { box-shadow:rgba(0,0,0,0.2) 0 1px 3px -1px;}
.box-filters-recursos {
	background-color:#efefef;
	border-radius:3px;
	padding-left:18px;
	padding-top:3px;
	padding-bottom:3px;
	font:11px/18px arial,helvetica,clean,sans-serif;
	margin-bottom:10px;
}
.box-filters-recursos ul { font-size:12px;}
.box-filters-recursos .dropit-menu-select { font-size:11px;}
.box-filters-recursos .dropit-menu { margin:0 18px 0 3px; }
.box-filters-recursos .dropit .dropit-submenu { width:320px; overflow:hidden; margin-top:5px; box-shadow:rgba(0,0,0,0.5) 0 5px 15px -5px; background-color:#73a70a; padding:10px 5px;}
.box-filters-recursos .dropit-submenu a {background-color:#73a70a; color:#fff; padding:4px 7px;}
.box-filters-recursos .dropit-submenu a:hover { background-color:#6b9e01;}
.box-filters-recursos .dropit-submenu a.dropit-menu-item-select { background-color:rgba(0,0,0,0.1);}
.box-filters-recursos .dropit .dropit-submenu li { display:block; float:left; width:48%;   border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-left: 1%;
  margin-right: 1%;
}
.box-filters-recursos .dropit-menu-select:after { transition:none;}
.box-filters-recursos .dropit-open .dropit-menu-select:after {
	  background-position: -69px -16px;
}
.box-filters-recursos .dropit-open .dropit-menu-select {background-color:#73a70a; border-radius:5px 5px 0 0; border-color:#73a70a; color:#fff; box-shadow:none;}
</style>
