@charset "utf-8";
/* CSS Document */

.tagFilter {
		display:block;
		background-color:#c3c7cc;
		line-height:23px;
		padding:0 23px 0 8px;
		float:left;
		position:relative;
		margin:0 3px 3px 0;
		border-radius:2px;
		overflow:hidden;
		transition:all .5s;
		color:#fff;
		text-shadow:rgba(0,0,0,0.25) 0 1px 2px;
		font-size:12px;
	}
	.tagFilter:hover {background-color:#878f99;}
	.tagFilter-close {
		display: block;
		position: absolute;
		right: 2px;
		top: 0;
		height:100%;
		width: 20px;
		transition:all .5s;
		cursor:pointer;
	}
	.tagFilter-txt {
		display:block;
		overflow:hidden;
		max-width:120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.cl { clear:both;}
	.tagFilter-close .iconDir { background-position: 0 0; width:8px; height:8px; margin:8px 0 0 6px; }
	