@font-face {
  font-family:'iconEducaplay';
  src:url('fonts/iconEducaplay.html');
}

/* Reset */

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}*{outline:none;}

input, textarea {padding:2px; vertical-align:middle; font-size:92%;}
h2{font-size:123.1%;} h3{font-size:100%;}

/* font */

body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt {font-family:monospace;*font-size:108%;line-height:100%;}
.centro {text-align:center;}

/* estructura */

.oculto {
	display:none;
}

#cont {	padding:17px 1rem 48px; width:995px; margin:auto; max-width:100%; box-sizing:border-box; }
.col2 {
	margin-left: 681px;
	margin-bottom: 15px;
}
.col3 {	float: left;width: 656px;}

/* generales */

.clear {clear:both;}
.le, h1, .col5 {float:left;}
.ri, .col1 a.btn {float:right;}
a {color:#7aa326;}
h2,h3,h4,h5,h6,strong, .boxact {font-weight:bold;}
.gris { color:#666;}
.der {text-align:right;}
.margen, .text, .col4 {margin-bottom:15px; color:#333;}
.col1.margen {margin-bottom:15px;}
.mg0 {margin:0;}

/* especificos */

.col1 h3, .enc1, #visor h2, .col1 h2 {
	background-color:#dadada;
	background-image: url(../img/esq314.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:6px 12px 0;
	line-height:28px;
	color:#8e8e8e;
	text-shadow: #eee 1px 1px 0;
	border-bottom: 1px solid #d6d6d6;
}
.enc1 {
	width:100%;
	box-sizing:border-box;
	font-weight:bold;
}
.col1 h2 {font-size:16px;}
.col1 {
	width: 314px;
	margin-bottom:6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
}
.cajaborde {
	border: 1px solid #d6d6d6;
	border-top:none;
	padding:10px 8px;
	font-size:85%;
	overflow: hidden;
}
.rss {margin:10px 11px 0 0;}
div.div_tit { font-size:116%; font-weight:bold; }
div.div_tit2 { font-weight:bold; }
.div_tit a, .div_tit2 a {text-decoration:none;}
.col1 div p {font-size:100%;}
.separador {border-bottom:1px dotted #ccc; padding-bottom:.6em; margin-bottom:.8em;}
.btn {
	color:#fff; 
	text-shadow: #74a016 -1px -1px 0;
	text-decoration:none;
	}
a.btn {
 	line-height: 22px;
	display:block;
	background-image: url(../img/btn.gif);
	padding-left: 15px;
}
a.btn span {
	background-image: url(../img/btn2.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	display:block;
	padding-right:15px;
}
input.btn {
	border: none;
	background-image: url(../img/btninput.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:#fff;
	height:22px;
	width:82px;
	margin-left:7px;
	font-size:93%;
}

h3 a {text-decoration:none; line-height:18px; }
h3 a:hover {
	color: #FFF;
	background-color: #78AA10;
}

.topverde {
	background-image: url(../img/topverde656.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 3px;
}
.botverde {
	margin-top:-4px;
	background-image: url(../img/botverde656.gif);
	height:4px;
	position:relative;
	z-index:2;
}
.text h2, .titulo, .text h1 {
	color: #78AA10;
	font-weight:bold;
	font-size: 24px;
	line-height:28px;
	padding-top: 14px;
	margin-bottom:.8em;
	float:none;
}
.act {
	float:left;
	width:107px;
	margin-left:0px;
	margin-right:30px;
	margin-bottom: 30px;
	background-image: url(../img/bgboxinf.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	padding-bottom: 2px;
}
.ultima {margin-right:0;}
.act a {
	text-align:center;
	color:#5e6976; font-size:90%; font-weight:bold; text-decoration:none;
	display:block; 
	background-image: url(../img/bgboxsup.jpg);
	background-position: center 0px;
	background-repeat: no-repeat;
	padding-bottom:9px;
	text-shadow:#fff 1px 1px 0;
}
.act span {
	padding-top: 87px;
	display:block;
	background-repeat: no-repeat;
	background-position: 19px 12px;
}
.iconpe {
	min-height:35px;
	margin:0 0 2px 0;
	display:block;
	padding:4px 2px 4px 42px;
	font-weight:normal;
	font-size:92%;
	background-repeat:no-repeat; 
	background-image:url(../img/iconosActividadesPe.png);
}
.iconpe:hover {background-color:#f0f0f0; color:#7aa326;}
.cruci span {background-image: url(../img/icons/cruci.jpg); }
.adivi span {background-image: url(../img/icons/adivina.jpg);}
.comple span {background-image: url(../img/icons/completar.jpg);}
.dialo span {background-image: url(../img/icons/dialogo.jpg);}
.dicta span {background-image: url(../img/icons/dictado.jpg);}
.test span {background-image: url(../img/icons/test.jpg);}
.sopa span {background-image: url(../img/icons/sopaletras.jpg);}
.ordel span {background-image: url(../img/icons/ordletras.jpg);}
.ordep span {background-image: url(../img/icons/ordpalabras.jpg);}
.relaci span {background-image: url(../img/icons/relacionar.jpg);}
.mapa span {background-image: url(../img/icons/mapa.jpg);} 
.cole span {background-image: url(../img/icons/coleccion.jpg);}
.presentacion span {background-image: url(../img/icons/presentacion.jpg);}
.videotest span {background-image: url(../img/icons/videotest.jpg);}
.relacionarmos span {background-image: url(../img/icons/relacionarmosaico.jpg);}


.iconcrucipe { background-position: 0 -225px;}
.iconmapape {background-position: 0 -450px; }
.iconsopape { background-position: 0 -975px; }
.icontestpe {background-position: 0 -825px; }
.iconrelacionarpe { background-position: 0 -750px;}
.iconordpalabraspe {background-position: 0 -600px;}
.iconordletraspe { background-position: 0 -525px; }
.icondictadope {background-position: 0 -375px;}
.icondialogope {background-position: 0 -300px;}
.iconcompletarpe {background-position: 0 -150px; }
.iconadivinape { background-position: 0 0; }
.iconcoleccionpe {background-position: 0 -75px;}
.iconpresentacionpe {background-position: 0 -675px;}
.iconvideotestpe {background-position: 0 -900px; }
.iconrelacionarmosaicope {background-position: 0 -1049px;}
.iconrelacionarcolumnaspe {background-position: 0 -1124px;}
.iconruletapalabraspe {background-position: 0 -1198px;}

.nuevaActCrear {
	float:left;
	width:30px;
	height:30px;
	background:url('../img/newItemMenu.png') no-repeat;
	margin-top:-50px;
	margin-left:-5px;
}

.newAct  {display:block; background-image:url(../img/icons/new.png); width:54px; height:54px; position:absolute;}

/* login */
#login {
	position: absolute;
	top: 68px;
	margin-left: 702px;
	width: 290px;
	z-index:9999;
	box-shadow:rgba(0,0,0,0.3) 0 6px 10px;
	border-radius:0 4px 0 0;
	font:15px/20px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#login a { font-size:85%; color:#ffec6f;}
.accesoTicket { background-color:#85a63a; background-color:rgba(0,0,0,0.13);
}
.btnSignIn { height:46px; line-height:46px; color:#fff; overflow:hidden; clear:both; background-color:#454545;}
.jqimessage .btnSignIn { background-color:transparent;}

.btnSignIn.btnSignInCentered{ color: #fff;}
.boxverde {
	background-color:rgba(111,156,33,1.00);
	background-color:#9ac043;
		border-radius:4px 4px 0 0;
}
#login label {
	display: block;
}

.campoLogin input { width:100%; padding:0; border:none; background-color:#fff;}
.campoLogin { padding:6px; background-color:#fff; margin:6px 0 12px; border-radius:1px;}
.padFormLogin { padding:18px 16px 12px;}
.infoForm { float:right;}

#login form {padding-top:10px;} 
.close {
	background-image: url(../img/iconcerrar.png);
	height: 21px;
	width: 20px;
	text-indent: -9999px;
	display: block;
	float: right;
	margin-top: 4px;
	margin-right: 5px;
}
.close:focus {outline:none;}
#login a { text-decoration:none;}
.recordar {
	float:right;
}
.btnSignIn a {
	border-width:7px;
	border-style:solid;
	 width:32px; height:32px; text-indent:-9999em; background-image:url(../img/iSignIn.png); display:block; float:left; background-repeat:no-repeat;
	 float:right;
	}
.txtSignIn { display:block; float:left; font-size:85%; padding-left:16px;}
.iFb { background-position:7px -93px; background-color:#3b5998; border-color:#3b5998;}
.iGl { background-position:7px -51px; background-color:#d13c2a;  border-color:#d13c2a;}
.iLv {background-position:7px -12px; background-color:#ff8900; border-color:#ff8900;}

.btnSignInBig { padding:12px 20px;}
.btnSignInBig a { height:31px; line-height:31px; display:block; margin:0 0 6px; border-radius:3px; box-shadow:0 1px 4px rgba(0,0,0,.2); padding:0 10px 0 46px; text-decoration:none; color:#fff; font-size:12px;  background-image:url(../img/iSignIn.png); background-repeat:no-repeat;}


.btnSignInBig .iFb { background-position:14px -93px;}
.btnSignInBig .iGl { background-position:14px -51px;}
.btnSignInBig .iLv {background-position:14px -12px;}

.codigoTicket  input { text-transform:uppercase;}
#login label {color:#fff; font-size:102%; font-weight:500;}
#login .sesion input {width:auto; margin:0 3px 0 0; vertical-align:middle;}
#login .sesion { font-weight:normal; font-size:85%; cursor:pointer; margin-bottom:12px;}

#login .btn {
	background-image:none; 
	color:#fff;
	text-shadow:rgba(0,0,0,0.23) 1px 1px;
	background: #ffc000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc000 0%, #ff9100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc000), color-stop(100%,#ff9100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc000 0%,#ff9100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc000 0%,#ff9100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc000 0%,#ff9100 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc000 0%,#ff9100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc000', endColorstr='#ff9100',GradientType=0 ); /* IE6-9 */
	box-shadow:inset rgba(255,255,255,0.49) 0 1px, rgba(0,0,0,0.25) 0 1px 2px;
	width:100%;
	height:28px; border-radius:35px;
	cursor:pointer;
	text-align:center;
	margin:0 0 12px;
	font-size:96%;
}
#login .btn:active { box-shadow:inset rgba(0,0,0,0.18) 0 2px 1px, rgba(255,255,255,0.18) 0 -1px; background:#FF9100;}
.spacio { padding:0 0 0 132px; min-height:320px;}
.spacio h3 {
	color: #78AA10;
	font-size: 120%;
	padding: 12px 0 3px;
	margin-bottom:.8em;
	border-bottom: 1px solid #e5e5e5;
}

.adivina {
	background-image: url(../img/adivinanza.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.col1 .boxactder {width:185px;}
.text .boxactder, .text .boxautorder {width:203px;}
 .col5 .boxactder {width:258px;}
.col1 .boxact, .col1 .boxactder, .text .boxautorder { margin:5px 0 3px;}

.boxact {
	background-repeat:no-repeat;
	background-position:0 0;
	width:104px;
	margin-right:4px;
	text-align:center;
	line-height:17px;
	color:#5E6876;
	text-decoration: none;
	padding: 70px 0 10px;
	background-image: url(../img/sprites-acts.jpg);
	
}
.text .boxact, .text .autor  {font-size:11px; line-height:16px;}
.le.boxact strong { display:block; padding:4px 0;}
.actcoleccion{ background-position: 2px 0;} 
.actvideotest{ background-position: -120px 0;} 
.actadivinanza{ background-position: -242px 0; } 
.actcompletar { background-position: -364px 0;} 
.actcruci{ background-position: -486px 0;} 
.actdialogo{ background-position: -608px 0;} 
.actdictado{ background-position: -730px 0;} 
.actmapa{ background-position: -852px 0;} 
.actordletras { background-position: -974px 0;} 
.actordpalabras{ background-position: -1096px 0;} 
.actpresentacion{ background-position: -1218px 0;} 
.actrelacionar{ background-position: -1340px 0;} 
.actsopa { background-position: -1462px 0;} 
.actruleta { background-position: -1462px 0;} 
.acttest{ background-position: -1584px 0;} 
.actrelacionarmos  { background-position: -1706px 0;} 
.actrelacionarcol  { background-position: -1828px 0;} 
.actruletapal, .actruleta { background-position: -1946px 0;} 

.boxactder p, .autor { margin:0 0 3px 1px; font-size:13px; text-decoration:none; line-height:18px;}
.boxactder a {text-decoration:none;}

/* estrellas */

.starsbas {
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	height: 12px;
	width: 60px;
	display: block;
	text-indent: -9999em;
	line-height:12px;
	margin: 0 0 6px;
}
.s50 { background-position:0px 0px;}
.s45 { background-position:0px -12px;}
.s40 { background-position:0px -24px;}
.s35 { background-position:0px -36px;}
.s30 { background-position:0px -48px;}
.s25 { background-position:0px -60px;}
.s20 { background-position:0px -72px;}
.s15 { background-position:0px -84px;}
.s10 { background-position:0px -96px;}
.s05 { background-position:0px -108px;}
.s00 { background-position:0px -120px;}
.contacto {
	background-image: url(../img/contacto.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.formu label {
	display: block;
	padding:4px 0 5px;
}
.formu span {display:block; float:left; width:70px; margin-right:8px; text-align:right; font-size:92%; line-height:200%;}
.col1 .formu label {font-size:112%;}
.col1 .formu span {
	font-size:100%;
	width:80px;
}
.formu .btn { margin:5px 0 10px 78px;}
.formu textarea { width:80%; height:160px;}
.registrarse .formu span {width:140px;}
.buscadorHead {width:34%; min-width:220px; float:left;}
.forohelp a {
	display:block;
	padding: 3px 3px 7px 28px;
	background-image: url(../img/iconhelp.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
}
.mensaje_error, .mensaje_ok {
	padding:12px 7px 12px 34px;
	margin-bottom:0.5em;
	color:#fff;
	line-height:18px;
	font-weight:500;
}
.mensaje_error {
	background-color:#be2e17;
	border:1px solid #a92b17;
	background-image: url(../img/iconerror.gif);
	background-repeat: no-repeat;
	background-position: 7px center;
}
.mensaje_ok {
	background-color:#8cb729;
	border:1px solid #7cae11;
	background-image: url(../img/iconok.gif);
	background-repeat: no-repeat;
	background-position: 7px center;
}
.mensaje {padding:5px 8px 4px; background-color:#f7f7f7; border:1px solid #dadada; font-size:85%; margin-bottom:0.5em;}
label.error {color:#be2e17; font-size:85%; padding:0; margin:3px 0 0 126px; }
.registrarse label.error {margin:3px 0 0 148px; }
input.error, textarea.error {background-color:#fff2f0;}	
form .gris {font-size:12px; line-height:18px;}
.registrarse .btn.big { height:26px; width:105px; 
	background-image: url(../img/btnbig.png);
	line-height:26px;
	padding:0 0 3px 0;
	background-repeat: no-repeat;
	margin-left:148px;
	}
.btn.apagado {
	background-image: url(../img/btngris.png);
	text-shadow: #a0a3a8 -1px -1px 0;
	width:77px;
	padding-bottom:3px;
	margin-left:8px;
}
.registrarse .clear img {margin:3px 0 3px 148px;}
.registrarse div label.error {display:block; width:140px; position:absolute; margin-top:.3em; margin-left:-125px; text-align:right;}
.col1 .sesion, .col1 .formu .btn {margin-left:88px;} .col1 .formu .btn {font-size:112%; padding-bottom:4px;}
.col1 .formu input {font-size:100%;}
.iconrecordar {
	padding-left:30px;
	background-image: url(../img/iconkey.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.col1 .sesion.txt1 { font-size:100%;}
.mensaje_permisos, .mensaje_info, .mensaje_warn {
	padding:13px 10px 12px 45px;
	background-color:#fffee2;
	border:1px solid #dadada;
	font-size:110%;
	margin-bottom:0.5em;
	background-image: url(../img/iconregistro.png);
	background-repeat: no-repeat;
	background-position: 7px 6px;
}
.mensaje_info {	background-image: url(../img/iconinfo.gif); padding-left:48px; }
.mensaje_warn {	background-image: url(../img/iconwarning.png); padding-left:48px; }

.tags a { text-decoration:none; padding:1px; margin: 0; line-height:115%;}
.tags a:hover { background-color:#78AA10; color:#fff;}
.tags {text-align:center;}
a.tagSize0 {font-size: 90%;}
a.tagSize1 {font-size: 95%;}
a.tagSize2 {font-size: 100%;}
a.tagSize3 {font-size: 110%;}
a.tagSize4 {font-size: 115%;}
a.tagSize5 {font-size: 120%; }
a.tagSize6 {font-size: 135%; font-family:"Segoe UI", Arial, sans-serif;}
a.tagSize7 {font-size: 150%; font-family:"Segoe UI", Arial, sans-serif;}
a.tagSize8 {font-size: 190%; font-family:"Segoe UI", Arial, sans-serif;}
a.tagSize9 {font-size: 230%; font-family:"Segoe UI", Arial, sans-serif;}

.boxbusact, .boxbusautor, .boxbusGrupos {width:48%;}
.linegris h3 {font-size:92%; display:inline; margin-right:6px;}
.linegris { overflow:hidden; background-color:#efefef; padding:2px 3px 2px 10px; margin:0 0 22px 0; background-image:url(../img/bglinegris.gif); color:#666;}
.menuinterno { float:right; margin:0 0 0 5px; width:130px;}
.menuinterno a { line-height:16px; text-decoration:none;}
.menuinterno ul {display:none; }
.lihover ul {
	position:absolute;
	background-color:#73a70a;
	padding:8px 0;
	display:block;
	width:260px;
	background-image: url(../img/desplegableul.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
}
.menuinterno ul a {color:#fff; display:block; padding:2px 4px;}
.menuinterno ul a:hover {background-color:#6b9e01; }
.menuinterno ul li {border-bottom:1px solid #6b9e01; margin:0 5px; float:left; width:120px;}
.linegris {font-size:92%; line-height:18px;}
.linegris .ri {font-size:92%;}
.linegris .ri .ri {font-size:100%;}
.selectmenu {
	display:block;
	padding:0;
	line-height:18px;
	background-image: url(../img/desplegable.gif);
	background-position: 0px 0px;
	color:#999;
}
.selectmenu span {display:block; height:18px; background-image: url(../img/desplegable.gif);
	background-position: right 0px; margin-left:8px;}
.lihover .selectmenu {
	background-position: 0px bottom;
	color:#fff;
	text-shadow: #69970b 1px 1px 0;
}
.lihover .selectmenu span {background-position: right bottom;}
.buscador .margen {margin-bottom:23px; height:1px;}
/* 
.paginacion { height:2em; *height:auto; font-size:92%; overflow:hidden; padding:6px 0;}
.paginacion a { padding:4px 9px; margin: 0 1px;}
.paginacion a {border:1px solid #e5e5e5; }
.paginacion a:hover {background-color:#78AA10; color:#fff; border:2px solid #78AA10; margin:0;}
*/
.paginacion span a { font-weight:normal;}
.pagactual {padding:4px 9px; margin: 0 1px;}

/* actualizacion paginacion */

.paginacion { font:0/0 a; text-align:center; padding:20px 0 35px;}
.paginacion a, .pagactual { font:13px/28px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;  padding:0 11px; display:inline-block; margin-left:-1px; margin-bottom:2px;}
.paginacion a  { border:1px solid #cad2d5; text-decoration:none;  border-radius:1px; }
.pagactual { background-color:#78AA10; color:#fff; border:1px solid #78AA10; font-weight:500;}

#btn_puntos_posteriores, #btn_pag_siguiente, #btn_pag_anterior, #btn_puntos_anteriores
{ background-color:#fff; color:#999; font:13px/28px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;  padding:0 6px; display:inline-block; margin-left:0; border:none; margin-bottom:2px;}
#btn_puntos_posteriores, #btn_puntos_anteriores { padding:0 10px; font-weight:bold;}
.buscador .boxautorder, .boxgrupoder { width:188px;}
.boxbusautor a.le {float:left; width:114px;}
.paginacion a:hover { background-color:#EEF1F2;}
.paginacion a:active { box-shadow: inset rgba(0,0,0,0.12) 0 1px 1px; }
#btn_pag_anterior a{ border-radius:3px 0 0 3px;}
#btn_pag_siguiente a { border-radius:0 3px 3px 0;}

.boxbusautor a.le {
	text-decoration:none;
	text-align:center;
	font-size:85%;
	background-image: url(../img/infcajagris.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom; 
	background-color: #ededed;
	padding-bottom: 1px;
}
.boxbusautor a.le span {line-height:1.8em; text-shadow: #fff 1px 1px 0;}
.col4 { margin-left:791px;}
.col4 .col1 { width:204px;} 
.col4 .col1 h3, .col4 .col1 h2 {background-image: url(../img/esq204.gif);}
img.le {margin:0 10px 6px 0;}
.boxscroll {overflow:auto; max-height:260px;}
.boxscroll2 {overflow:auto; max-height:125px;}
.boxbusautor img {border:1px solid #ccc;}
.boxbusautor {margin-bottom:8px;}
.noborde {border-bottom:none;}
.list li {
	margin:0 0 5px 18px;
	padding-left:12px;
	background-image: url(../img/li.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
}
.list {margin:5px 0 15px 0;}
.cajaborde .list {margin:0; padding:0; border-bottom:1px dotted #ccc; }
.cajaborde .list li {margin:5px 4px 4px 4px; font-size:110%; padding:4px 4px 1px 18px; border-top:1px dotted #ccc; background-position: 5px 8px;}
.loader {background-image: url(../img/loader.gif); background-repeat:no-repeat; background-position:center center; background-color:#fff;}
.btn_accion { height:35px;}
td.btn_accion {height:auto;}
.btn_accion a, .borrar, .visorclose, .visoropen, #visor .editar, #ocultarbox, #ocultarbox2 {
	display:block;
	width:34px;
	height:22px;
	text-indent: -9999em;
	background-image: url(../img/btnsaccion.png);
	background-repeat: no-repeat;
	float:left;
	margin-right:1px;
}
#visor .visorclose, #visor .visoropen {margin:10px 10px 0 0;} #visor .editar {margin:10px 10px 0 -6px;}
.editar {background-position:0px 0px;}.editar:hover {background-position:0px -22px;}.editar:focus, .editar:active {background-position:0px -44px;}.down {background-position:-136px 0px;}.down:hover {background-position:-136px -22px;}.down:focus, .down:active {background-position:-136px -44px;}.up {background-position:-170px 0px;}.up:hover {background-position:-170px -22px;}.up:focus, .up:active {background-position:-170px -44px;}
.duplicar {background-position:-34px 0px;}.duplicar:hover {background-position:-34px -22px;}.duplicar:focus, .duplicar:active {background-position:-34px -44px;}.eliminar {background-position:-68px 0px;}.eliminar:hover {background-position:-68px -22px;}.eliminar:focus, .eliminar:active {background-position:-68px -44px;}.borrar {background-position:-102px 0px;}.borrar:hover {background-position:-102px -22px;}.borrar:focus, .borrar:active {background-position:-102px -44px;}.descargar {background-position:-204px 0px;}.descargar:hover {background-position:-204px -22px;}.descargar:focus, .descargar:active {background-position:-204px -44px;}.visoropen {background-position:-238px 0px;}.visoropen:hover {background-position:-238px -22px;}.visoropen:focus, .visoropen:active {background-position:-238px -44px;}.visorclose {background-position:-272px 0px;}.visorclose:hover {background-position:-272px -22px;}.visorclose:focus, .visorclose:active {background-position:-272px -44px;}
.visible-true {background-position:-363px 0px;}.visible-true:hover {background-position:-363px -22px;}.visible-true:focus, .visible-true:active {background-position:-363px -44px;}
.visible-false {background-position:-397px 0px;}.visible-false:hover {background-position:-397px -22px;}.visible-false:focus, .visible-false:active {background-position:-397px -44px;}
.txtgra p, .txtgra li { font-size:13px; color:#454545; line-height:20px;}
.txtgra ol li{list-style:decimal outside; margin-bottom:1em;}
.txtgra ol {margin:0 0 2em 2.5em;}
.spacio ul, .spacio ol { margin:0 0 .5em 2em;}
.spacio li {list-style-type:disc; font-size:85%;} 
.boxpubins {display:block; overflow:hidden; height:131px; background-image:url(../img/bgpubins.png); color:#fff; text-decoration:none; font-family:"Segoe UI", Arial, sans-serif; background-color:#8cb828;}
.boxpubins .fr1 { font-size:18px; line-height:22px; padding:15px 18px;}
.boxpubins .fr1 strong {font-size:24px; padding-left:17px; font-weight:normal;}
.boxpubins span {display:block;}
.boxpubins .fr2 {font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; padding:2px 18px;}
.boxpubins .fr2 em {font-weight:normal; text-decoration:underline;}  

/************ no disponible *****************/

.nodisponible {
	margin:10px;
	padding:10px 20px 15px 72px;
	background-image: url(../img/iconeducaplay.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-size:135%;
}
.nodisponible p {
	background-image:url(../img/logoeducape.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 40px;
	margin:0;
	line-height:120%;
	font-family:"Segoe UI", Arial, sans-serif;
	color:#656565;
}
#nodis {width:300px; height:120px; position:absolute; left:50%; top:50%; margin:-20px 0 0 -150px; border:5px solid #f1f1f1; background-color:#fff;}

/******* idiomas *********/


.buscadorTags {
	float:right;
	margin:7px 6px 0 0;
	font-size:85%;
	color:#8F8F8F;
}
.buscadorTags input {font-size:100%; margin-left:5px; vertical-align:bottom;}
.loadSearchTags {
	display:block;
	height:50px;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.lblNoResults {display:block; color:#898989; height:50px; line-height:50px;}
.numResultados { height:16px; width:calc(100% - 149px); float:left; font-size:11px; color:#666; line-height:16px; margin-bottom:25px; padding:0 18px 5px; border-bottom:1px solid #e5e5e5;}
.filtroResultados { height:16px; float:left; width:95px; text-align:right; font-size:11px; line-height:16px; margin-bottom:25px; padding:0 18px 5px 0; border-bottom:1px solid #e5e5e5; font-weight:bold;}
#btnLimpiar {
	color:#666;
	transition:color 400ms;
	cursor:pointer;
}

#btnLimpiar:hover {
	color:#7aa326;
}

/*------ 2011 -------*/

#socializaPlusOne {
    border-right: 1px solid #D6D6D6;
    display: block;
    float: left;
    line-height: 25px;
    outline: medium none;
    padding: 6px 6px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.boxactder .iLike {color:#999; margin:3px 0 10px;	background-image: url(../img/ilike.gif);
	background-repeat: no-repeat;
	background-position:1px 1px; padding:0 0 0 18px;
	font-size:11px; line-height:16px;
}

/*************** social 2011 *************/

#titActSocial h2 {
	margin: 0px;
	border-bottom: 1px solid #dadada;
	color: #52585f;
	font-size: 20px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	float:none;
}
.extraDatosAct {
	font-size: 11px;
	color: #393e46;
	padding:6px 0;
	line-height:26px;
}
.extraDatosAct strong { font-size:13px; color:#212326; margin:0 3px;}
.sepExtraDatos { margin:0 0 0 3px; color:#d0d1d3; font-size:15px;}
.btnLikeAct {
	background-image: url(../img/btnLikeActNue.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	padding-right:8px;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin-left:6px;
	background-color: #95C517;
}
.btnLikeAct span {
	background-image: url(../img/btnLikeActNue.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0 6px 0 30px;
	line-height:26px;
	display:inline-block;
}
.btnLikeAct.likeEresAutor span {
	padding:0 6px 0 8px;
	text-align: center;
}
.btnLikeAct.likeEresAutor {
	padding-right:0px;
}

.btnLikeAct:hover {	background-position: right -27px;}
.btnLikeAct:hover span { background-position: 0 -27px;}
.btnLikeAct:active, .btnLikeAct:focus {	background-position: right -54px;}
.btnLikeAct:active span, .btnLikeAct:focus span { background-position: 0 -54px;}
.likeVotado, .likeVotado:hover, .likeVotado:active, .likeVotado:focus {background-position: right -81px; color:#474747; background-color:#cecece;}
.likeVotado span, .likeVotado:hover span, .likeVotado:active span , .likeVotado:focus span {background-position: 0 -81px;}
.likeEresAutor, .likeEresAutor:hover, .likeEresAutor:active, .likeEresAutor:focus {background-position: right -108px; color:#474747; background-color:#cecece;}
.likeEresAutor span, .likeEresAutor:hover span, .likeEresAutor:active span , .likeEresAutor:focus span {background-position: 0 -108px;}
.btnsShare { float:right; text-align:right; padding:8px 0 0 0; 	font-size: 11px;
	color: #393e46;
	line-height:26px;
}
.btnsShare ul { display:inline-block; vertical-align:middle; font:0/0 a; padding-left:4px;}
.btnsShare li { display:inline; padding:0; margin:0;}
.btnsShare li img { margin:-2px 0 0 5px; border-radius:2px; opacity:.85; transition:all .3s;}
.btnsShare li a:hover img { opacity:1;}

.btnTipoActividad { font-size:11px; font-weight:bold; text-decoration:none;}
.twitter-share-button {width:85px!important;}
/**** siguenos  ****/ 

.sEducaplay a {
	float: left;
	width: 44%;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: #5e6976;
	margin-right: 4%;
}
.sEducaplay a:hover { color:#7aa326;}
.sEducaplay a span {
	display: block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 45px;
	background-image: url(../img/iconSocial.png);
	background-repeat: no-repeat;
}
.sEducaplay .eFacebook span {background-position: 4px -89px;}
.sEducaplay .eTwitter span {background-position: 4px 4px;}
.sEducaplay {padding:10px 0 0; overflow:hidden; height:52px;}

/********* Siguenos registro *********/

#col50 .col3 {
	width: 430px;
}
#col50 .siguenosSocial {
	width: 430px;
	float: right;
}
#col50 {
	padding-right: 15px;
	padding-left: 15px;
	background-image: url(../img/sepRegistro.png);
	background-repeat: repeat-y;
	background-position: center 0px;
	margin-bottom:25px;
}
#col50 h2 {
	color: #424850;
	font-size: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 8px;
	padding-top:10px;
	font-weight: normal;
	line-height: 24px;
}
#col50 .mensaje_permisos {
	background-position: 7px 12px;
	margin-bottom: 15px;
}
.siguenosSocial a {
	float: left;
	display: block;
	height: 167px;
	width: 169px;
	font-size: 13px;
	line-height: 18px;
	color: #39424c;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	background-image: url(../img/bgBtnSocial.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.siguenosSocial a:hover {	background-position: 0px -181px;  color:#7aa326;}
.siguenosSocial a:active, .siguenosSocial a:focus {	background-position: 0px -364px;}
.siguenosSocial a span {
	padding-top: 112px;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	background-image: url(../img/iconsSocial.png);
	background-repeat: no-repeat;
}
.iconTwitter span {
	background-position: -15px 24px;
}
.iconFacebook span {
	background-position: -200px 24px;
}
#col50 .siguenosSocial ul {
}
.siguenosSocial p {
	font-size: 12px;
	padding-bottom:15px;
}
#col50 .siguenosSocial ul, #col50 .siguenosSocial li {margin:0; padding:0;}
#col50 .siguenosSocial li {display:inline;}
#col50 .registrarse .btn.big {
	width: auto;
	background-image: none;
	background-color: #7AA326;
	padding:2px 5px;
	height:auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7AA326;
	border-right-color: #7AA326;
	border-bottom-color: #6A8D21;
	border-left-color: #7AA326;
	border-radius:3px;
}

/********* info actividad 2011 v2 *********/

.headInfoAct {
	background-image: url(../img/headCruci.jpg);
	height: 141px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.headInfoAct h2 {
	float: none;
	display: block;
	font-size: 38px;
	color: #3b424b;
	margin: 0px;
	padding: 0px;
	line-height: 46px;
}
.headInfoAct h3 {
	font-weight: normal;
	color: #5d6876;
	font-size: 18px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
}
.padHeadInfoAct {
	padding-top: 42px;
	padding-left: 20px;
}
.contentInfoAct {
	padding:15px 20px;
}
.contentInfoAct h3 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
	padding-top: 26px;
	padding-bottom: 12px;
	margin-top: 26px;
	font-size: 18px;
	font-weight:bold;
	color: #3B424B;
}
.contentInfoAct ol {
	margin-bottom: 10px;
	margin-left: 25px;
}
.contentInfoAct ol li {
	list-style-type: decimal;
	margin-left: 20px;
}
.infoVideoHelp {
	padding-right: 21px;
	padding-bottom: 15px;
	padding-left: 21px;
}
.infoVideoHelp h4 a {
	font-size: 13px;
}
.infoVideoHelp h4 {
	padding-bottom: 6px;
}

/**** siguenos  ****/ 

.sEducaplay a {
	float: left;
	width: 44%;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: #5e6976;
	margin-right: 4%;
}
.sEducaplay a:hover { color:#7aa326;}
.sEducaplay a span {
	display: block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 45px;
	background-image: url(../img/iconSocial.png);
	background-repeat: no-repeat;
}
.sEducaplay .eFacebook span {background-position: 4px -89px;}
.sEducaplay .eTwitter span {background-position: 4px 4px;}
.sEducaplay {padding:10px 0;}

/********* Siguenos registro *********/

#col50 .col3 {
	width: 430px;
}
#col50 .siguenosSocial {
	width: 430px;
	float: right;
}
#col50 {
	padding-right: 15px;
	padding-left: 15px;
	background-image: url(../img/sepRegistro.png);
	background-repeat: repeat-y;
	background-position: center 0px;
	margin-bottom:25px;
}
#col50 h2 {
	color: #424850;
	font-size: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 8px;
	padding-top:10px;
	font-weight: normal;
	line-height: 24px;
}
#col50 .mensaje_permisos {
	background-position: 7px 12px;
	margin-bottom: 15px;
}
.siguenosSocial a {
	float: left;
	display: block;
	height: 167px;
	width: 169px;
	font-size: 13px;
	line-height: 18px;
	color: #39424c;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	background-image: url(../img/bgBtnSocial.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.siguenosSocial a:hover {	background-position: 0px -181px;  color:#7aa326;}
.siguenosSocial a:active, .siguenosSocial a:focus {	background-position: 0px -364px;}
.siguenosSocial a span {
	padding-top: 112px;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	background-image: url(../img/iconsSocial.png);
	background-repeat: no-repeat;
}
.iconTwitter span {
	background-position: -15px 24px;
}
.iconFacebook span {
	background-position: -200px 24px;
}
#col50 .siguenosSocial ul {
}
.siguenosSocial p {
	font-size: 12px;
	padding-bottom:15px;
}
#col50 .siguenosSocial ul, #col50 .siguenosSocial li {margin:0; padding:0;}
#col50 .siguenosSocial li {display:inline;}
#col50 .registrarse .btn.big {
	width: auto;
	background-image: none;
	background-color: #7AA326;
	padding:2px 5px;
	height:auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7AA326;
	border-right-color: #7AA326;
	border-bottom-color: #6A8D21;
	border-left-color: #7AA326;
	border-radius:3px;
}


/*************** info actividades **************/
.iconTuto {
	height: 47px;
	width: 65px;
	margin-top: -12px;
	float: right;
}
.imgVideo {
	padding: 7px;
	border: 1px solid #dadada;
	background-color: #F5F5F5;
	display: inline-block;
	border-radius:3px;
	margin:8px 0 17px 14px;
}
.imgVideo:hover {
	border-color:#B6DA63;
}
.sepTuto {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	margin-bottom: 1.8em;
}
.actInfoSocial {  padding:0 0 10px;}
#actordletras .headInfoAct {
	background-image: url(../img/headOrdenarL.jpg);
}
#actordpalabras .headInfoAct {
	background-image: url(../img/headOrdenarP.jpg);
}
#actadivinanza .headInfoAct {
	background-image: url(../img/headAdivina.jpg);
}
#actcruci .headInfoAct {
	background-image: url(../img/headCruci.jpg);
}
#actmapa .headInfoAct {
	background-image: url(../img/headMapas.jpg);
}
#actcompletar .headInfoAct {
	background-image: url(../img/headCompletar.jpg);
}
#actdialogo .headInfoAct {
	background-image: url(../img/headDialogo.jpg);
}
#actdictado .headInfoAct {
	background-image: url(../img/headDictado.jpg);
}
#actsopa .headInfoAct {
	background-image: url(../img/headSopa.jpg);
}
#actrelacionar .headInfoAct {
	background-image: url(../img/headRelacionar.jpg);
}
#acttest .headInfoAct {
	background-image: url(../img/headTest.jpg);
}
#actcoleccion .headInfoAct {
	background-image: url(../img/headColeccion.jpg);
}
#actpresentacion .headInfoAct {
	background-image: url(../img/headPresentaciones.jpg);
} 
#actvideotest .headInfoAct {
	background-image: url(../img/headVideotest.jpg);
} 
#actrelacionarmos .headInfoAct {
	background-image: url(../img/headRelacionarMos.jpg);
} 
#actrelacionarcol .headInfoAct {
	background-image: url(../img/headRelacionarCol.jpg);
} 


.minorReqLbl { background-color:#f4f4f4; background-image: url(../img/IconParental.png); background-repeat:no-repeat; background-position:29px center; padding:0 16px 0 116px; border:1px solid #e8e8e8; border-radius:1px; margin:2px 0 14px;}
.minorReqLbl span  { display:none;} 
.minorReqLbl p  { margin:0; padding:16px 0; font-size:12px; line-height:19px; color:#454545;} 
.minorReqLbl p input { margin-top:8px; padding:4px;}
.registrarse .minorReqLbl label.error  { position:relative; text-align:left; width:auto; margin:4px 0 0;}

#bnPremiosAefol {display:block!important; display:none;}
#bnPremiosAefol { position:fixed; width:280px; hanging-punctuation:228px; right:0; bottom:0; background-color:rgba(250,250,250,.8);}
.btnCloseBn {
	position:absolute;
	right:0;
	margin-top:-25px;
	width:25px;
	height:25px;
	cursor:pointer;
	background-image: url(../img/closeBn.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#boxGreen h3 {
	line-height: 38px;
	padding:0 0 0 19px;
	background-image: url(../img/headHelp.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #6FB100;
	color: #FFF;
	border-bottom:none;
	text-shadow:none;
}
.textInfoHelp {
	margin-left: 88px;
	padding:0 0 14px;
}
#boxGreen img {
	float: left;
}
#boxGreen .cajaborde {
	background-color: #82BE2E;
	border: none;
	padding:18px 22px;
}
#boxGreen p {
	color: #FFF;
	font-size: 12px;
	line-height:17px;
}
#boxGreen .sepTuto {
	border-bottom-color:#9AD34B;
	margin-bottom:1.2em;
}
#boxGreen a {color:#fff;}
.col4 .col1 .sustituloAct { background-image:none; background-color:#fff; text-shadow:none; font:12px/16px Arial, Helvetica, sans-serif; color:#333; font-weight:normal; border-bottom:none; padding:8px 0 4px; }
.userEduca h1 { float:none; font-weight:bold; font-size:13px; padding-top:8px;}
.contentInfoAct ul {
	margin-left: 25px;
	margin-bottom: 15px;
}
.contentInfoAct ul li {list-style-type:disc; margin-left:15px;}
#actGeneral .headInfoAct {
	background-image: url(../img/headActividades.jpg); height:149px;
}
.text #actGeneral h2, .text #actGeneral h3  {border-bottom:none;}



#rankingVerAct .showNextTop, .showNextComments { 
	background-image: url(../img/bgsubmit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: center;
	color: #FFF;
	height: 28px;
	width: 118px;
	margin: 10px;
	display:block; line-height:28px; text-decoration:none; margin-left:33px; font-size:12px;}
.showNextComments { margin-left:3px;}

.alertHead { float:left;  }
.alertHead a {
	display:block;
	float:left;
	
	
	height:18px;
	line-height:18px;
	font-size:10px;
	width:43px;
	background-color:#f7f7f7;
	color:#474c58;
	border-bottom:1px solid #b1b5ba;
	border-left:1px solid #c2c3c5;
	border-right:1px solid #c7c7c8;
	border-top:1px solid #cdcdcd;
	text-decoration:none;
	-moz-border-radius:2px 1px 1px 2px;
	-webkit-border-radius:2px 1px 1px 2px;
	border-radius:2px 1px 1px 2px;
	background-image: url(../img/bgBtnHeadAlert.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.alertHead a:active { background-position: 0 -18px;}

.alertHead a span {
	display:block;
	line-height:18px;
	height:18px;
	text-indent:24px;
	background-image: url(../img/iBtnHeadAlert.png);
	background-repeat:no-repeat;
}
.alertHead .alertNotif span { background-position:3px -5px;}
.alertHead .alertMens span { background-position:4px -36px; text-indent:27px;}
.alertHead .alertMens { border-left:none; -moz-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}

.alertHead a.activo, .alertHead a.openPreview  {
	background-position: 0 -36px;
	color:#fff;
	border-top-color: #af1818;
	border-right-color: #c43636;
	border-bottom-color: #7b0101;
	border-left-color: #930b0b;
	border-radius:2px 0 0 2px;
}
.alertHead .alertMens.activo { border-right-color: #930b0b; -moz-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}
.alertHead .alertMens.openPreview {	border-radius:0 2px 2px 0; }
.alertHead a.activo:active {background-position: 0 -54px;}

.alertHead .alertNotif.activo span, .alertHead .alertNotif.openPreview span { background-position:3px -66px;}
.alertHead .alertMens.activo span, .alertHead .alertMens.openPreview span { background-position:4px -96px; }

.alertHead a.openPreview { background-image:none; background-color:#85aa2f; -moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0; border-color:#85aa2f; border-bottom:3px solid #85aa2f;}

/* box emergente notificaciones */

.previewAlert {
	overflow:hidden;
	margin-left: 697px;
	position: absolute;
	top: 46px;
	width: 300px;
	z-index: 9999;
	font-size: 12px;
	color: #FFF;
/*	height:480px;*/
}

.sbPreviewAlert { padding:0 13px;}
.contentPreviewAlert { background-color:#85aa2f;}

.bodyPreviewAlert .contentPreviewAlert {border-bottom:1px solid #799f23;}
.headPreviewAlert .contentPreviewAlert { padding-top:2px; line-height:34px; -moz-border-radius:0 3px 0 0; -webkit-border-radius:0 3px 0 0; border-radius:0 3px 0 0;}
.footPreviewAlert .contentPreviewAlert { height:32px; border-top:1px solid #a6c75a; -moz-border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px; border-radius:0 0 2px 2px;}

.footPreviewAlert a {
	display:block;
	line-height:32px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	background-image: url(../img/bgAllNotificaciones.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	    border-radius: 0 0 2px 2px;
}
.contentPreviewAlert a, .contentPreviewAlert strong { color:#f9ff93; text-decoration:none; font-weight:bold;}
.notificaciones li, .mensajesBox li {
	display:block;
	border-top:1px solid #9dbb59;
	padding:8px 12px 2px;
	line-height:16px;
	overflow:hidden;
}
.titPreviewAlert { font-weight:bold; padding-left:15px;}
.infoAlert { margin-left:48px; display:block;}
.iconInfoAlert { float:left; display:block; margin-top:2px;}
.iconInfoAlert img { border:1px solid #fff; border-radius:1px;}
.contentPreviewAlert .close {
	background-image: url(../img/btnAlertClose.png);
	background-repeat:no-repeat;
	margin-top: 6px;
	margin-right: 12px;
}
.timeAlert {

	font:11px/24px Arial, Helvetica, sans-serif;
	color:#e2ebcd;
	background-image: url(../img/iTimeAlert.png);
	background-repeat: no-repeat;
	background-position: 3px 7px;
	padding-left: 21px;
	display:block;
}
.notificaciones .nuevaNotificacion { border-top-color:#a8ca5b; background-color:#92bd32;}
.notificaciones .firstNotAnterior { border-top-color:#a8ca5b; }

.nuevoRankingObtenido .iconInfoAlert img, .rankActividadTop .iconInfoAlert img { border:none;}
.nuevoRankingObtenido .infoAlert,  .rankActividadTop .infoAlert { padding:3px 0 9px;}

#userMensajes .iconInfoAlert img { border:none;}

.mensajesBox .mensContent { color:#fff; display:block; font-weight:normal;}
.contentPreviewAlert .noAlerts { padding:26px 15px; color:#ecf4cd;}
.contentPreviewAlert .loadAlerts {
	height:80px;
	background-image: url(../img/loadAlerts.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.resultValidateVideoOk{
    background-image: url(../img/iOk.png);
	background-position: 20px 10px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    min-height: 250px;
    padding: 30px 0 20px 100px;
    position: relative;
    text-align: left;
    width: 950px;
}
.resultValidateVideoFail{
    background-image: url(../img/iError.png);
	background-position: 20px 10px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    min-height: 250px;
    padding: 30px 0 20px 100px;
    position: relative;
    text-align: left;
    width: 950px;
}

.bgNoActFilter {
    background-image: url("../img/noAct.png");
    display: block;
    height: 20px;
    margin-left: -8px;
    margin-top: -2px;
    overflow: hidden;
    position: absolute;
    width: 124px;
    z-index: 9;
}

.reinicializacionData{
background-color: #DADADA;
color: #333;
font: 82%/138.5% Arial, Helvetica, sans-serif;
top: 23px;
position: relative;
margin: 0px -1px 0 -4px;
padding: 3px 0px 3px 6px;
}

.sliderEdadDisplay span.targetAge{
	height: 70px;
	width: 48px;
	display: block;
	background-image: url(../img/targetAge70.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent:-9999em; text-align:inherit;
	vertical-align: middle;
	float: left;
}

.sliderEdadDisplay span.targetAge4, .sliderEdadDisplay span.targetAge5, .sliderEdadDisplay span.targetAge6{
	background-position: 0 0;
}
.sliderEdadDisplay span.targetAge7, .sliderEdadDisplay span.targetAge8, .sliderEdadDisplay span.targetAge9{
	background-position: -80px 0;
}
.sliderEdadDisplay span.targetAge10, .sliderEdadDisplay span.targetAge11, .sliderEdadDisplay span.targetAge12{
	background-position: -160px 0;
}
.sliderEdadDisplay span.targetAge13, .sliderEdadDisplay span.targetAge14, .sliderEdadDisplay span.targetAge15{
	background-position: -238px 0;
}
.sliderEdadDisplay span.targetAge16, .sliderEdadDisplay span.targetAge17, .sliderEdadDisplay span.targetAge18{
	background-position: -320px 0;
}
.sliderEdadDisplay span.targetAge19, .sliderEdadDisplay span.targetAge20{
	background-position: -408px 0;
}
.sliderEdadDisplay span.targetAge3{
background-image: none;
width: 10px;
}
.sliderEdadDisplay span.targetAge21{
	background-position: -408px 0;
}

.formu .edadDisplayTxt, #DatosGrales .edadDisplayTxt, .edadDisplayTxt{
	color: #666;
	width: 40px;
	font-size: 52px;
	line-height: 52px;
	margin-top: 20px;
	display: inline-block;
}

.edadDisplay{
	float:right; 
	height:40px; 
	font-size:11px;
	line-height:14px;
	margin-top:-10px;
	text-align:right;
	padding-right:12px;
	width:150px;
	background-color:#fff;
}
.edadDisplay span { display:inline-block; padding:10px 12px 0 0; float:right;}
.edadDisplay .sliderEdadDisplay {
	display:inline-block;
	float:right;
}
.edadDisplay .sliderEdadDisplay span.targetAge{
	height: 46px;
	width: 34px;
	background-image: url(../img/targetAge45.png);
	text-align:left;
}

.edadDisplay .sliderEdadDisplay span.targetAge4, .edadDisplay .sliderEdadDisplay span.targetAge5, .edadDisplay .sliderEdadDisplay span.targetAge6{
	background-position: 0 0;
}
.edadDisplay .sliderEdadDisplay span.targetAge7, .edadDisplay .sliderEdadDisplay span.targetAge8, .edadDisplay .sliderEdadDisplay span.targetAge9{
background-position: -55px 0;
}
.edadDisplay .sliderEdadDisplay span.targetAge10, .edadDisplay .sliderEdadDisplay span.targetAge11, .edadDisplay .sliderEdadDisplay span.targetAge12{
background-position: -110px 0;
}
.edadDisplay .sliderEdadDisplay span.targetAge13, .edadDisplay .sliderEdadDisplay span.targetAge14, .edadDisplay .sliderEdadDisplay span.targetAge15{
background-position: -163px 0;
}
.edadDisplay .sliderEdadDisplay span.targetAge16, .edadDisplay .sliderEdadDisplay span.targetAge17, .edadDisplay .sliderEdadDisplay span.targetAge18{
background-position: -220px 0;
}
.edadDisplay .sliderEdadDisplay span.targetAge19, .edadDisplay .sliderEdadDisplay span.targetAge20{
background-position: -281px 0;
}

.edadDisplay .sliderEdadDisplay span.targetAge3{
background-image: none;
width: 10px;
}

.edadDisplay .sliderEdadDisplay span.targetAge21{
background-position: -281px 0;
}

	.field { float:right; margin:0 3px 0 10px;}
	.field input { display:none;}
	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {display: block; float: left; }
	.cb-enable span, .cb-disable span { display: block; background-color:#f8f8f8; font:11px/22px Arial, Helvetica, sans-serif; padding:0 10px; color:#333; box-shadow:inset rgba(0,0,0,.15) 0 1px, inset rgba(0,0,0,.15) 0 0 1px;  }
	.selected span { box-shadow:inset rgba(0,0,0,.25) 0 -1px, inset rgba(0,0,0,.2) 0 0 1px; color:#fff;}
	.cb-disable span { background-color:#787878; }
	.cb-enable.selected span {background-color:#8caa28; }
	.switch label { cursor: pointer;}

#html5 { min-height:70px; margin:7px 0 0 15px; padding-left:85px; background-image: url(../img/bgProntoHtml.png); background-repeat:no-repeat; background-position:0 0;}
#html5 .txtHtml5 { color:#fff; font:13px/18px Arial, Helvetica, sans-serif; padding-top:6px;}

.actCompatibleHtml5 {
	float: right;
	width: 208px;
	padding: 21px 0 134px;
	text-align: center;
	margin:0 0 15px 18px;
	background:#0093C2 url(../img/actCompatibleHtml5.png) no-repeat 0 bottom;
}
.actCompatibleHtml5 p {
	margin:0;
	padding:0 12px;
	font:15px/20px "Segoe UI", "Tahoma", "Verdana", "Arial", "sans-serif";
	color:#fff;
}

.award_TOP_RATED{
	outline: 1px solid red;
}

/* actividades realizadas */

#tablaPrincipal .boxbusact .boxactder .fail:hover { color:#fff;}

/* btn header */
.btnPremium a {
	display:inline-block; line-height:28px; border-radius:2px; padding:0 25px; color:#fff; text-decoration:none;
	background: #edb500;
	background: -moz-linear-gradient(top,  #edb500 0%, #e08000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edb500), color-stop(100%,#e08000));
	background: -webkit-linear-gradient(top,  #edb500 0%,#e08000 100%);
	background: -o-linear-gradient(top,  #edb500 0%,#e08000 100%);
	background: -ms-linear-gradient(top,  #edb500 0%,#e08000 100%);
	background: linear-gradient(to bottom,  #edb500 0%,#e08000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb500', endColorstr='#e08000',GradientType=0 );
	box-shadow:#ccc 0 1px 2px,  inset rgba(0,0,0,0.05) 0 -1px;
}
.btnPremium a:active {
	background: #e08000;
	box-shadow:#ccc 0 0 4px,  inset rgba(0,0,0,0.08) 0 1px;
}
.btnPremium { position:absolute; left:350px; top:40px; }

/* actualización navbar */

.triangleNavBAr {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: #ffffff transparent transparent transparent; display:block; position:absolute; top:19px; right:13px;
}
.menu_desplegado .triangleNavBAr {
	border-width: 0 3px 3px 3px;
	border-color: transparent transparent #ffffff transparent;
}
.iconAct-menu {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 10px 0 6px;
  border-radius: 2px;
  border:1px solid rgba(255,255,255,0.67);
}

/* flag */
.flag {width: 16px; height: 11px; display:inline-block; vertical-align:middle; margin-right:5px; background: url(../img/flags.png) no-repeat 0 0;}
.selectmenu .flag { margin:1px 4px 2px 0;}
.sprite-as{ background-position: 0 0;} 
.sprite-ca{ background-position: 0 -22px;} 
.sprite-de{ background-position: 0 -44px;} 
.sprite-en{ background-position: 0 -66px;} 
.sprite-es{ background-position: 0 -88px;} 
.sprite-eu{ background-position: 0 -110px;} 
.sprite-fr{ background-position: 0 -132px;} 
.sprite-it{ background-position: 0 -154px;} 
.sprite-nl{ background-position: 0 -176px;} 
.sprite-pl{ background-position: 0 -198px;} 
.sprite-pt{ background-position: 0 -220px;} 
.sprite-sv{ background-position: 0 -242px;} 
.sprite-sp{ background-position: 0 -264px;} 
.sprite-tr{ background-position: 0 -286px;} 
.sprite-gl{ background-position: 0 -308px;}
.sprite-sl{ background-position: 0 -330px;} 
.sprite-et{ background-position: 0 -352px;} 
.sprite-el{ background-position: 0 -374px;} 
.sprite-ja{ background-position: 0 -396px;} 

/* iconos buscador sprite */
.boxact {}
.cajaborde.loginIntegrado { padding:0; font-size:13px;}
.cajaborde .campoLogin { border:1px solid #a9a9a9;}
.loginIntegrado .formu .txt1, .loginIntegrado .recordar { font-size:12px; margin-bottom:12px; font-weight:normal;}
.loginIntegrado .accesoTicket { background-color:#efefef;}
.col1 .loginIntegrado .formu .btn {
	background-image:none; 
	color:#fff;
	text-shadow:rgba(0,0,0,0.23) 1px 1px;
	
	background: #a1c200;
	background: -moz-linear-gradient(top,  #a1c200 0%, #6a9e01 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1c200), color-stop(100%,#6a9e01));
	background: -webkit-linear-gradient(top,  #a1c200 0%,#6a9e01 100%);
	background: -o-linear-gradient(top,  #a1c200 0%,#6a9e01 100%);
	background: -ms-linear-gradient(top,  #a1c200 0%,#6a9e01 100%);
	background: linear-gradient(to bottom,  #a1c200 0%,#6a9e01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c200', endColorstr='#6a9e01',GradientType=0 );
	box-shadow: inset rgba(0,0,0,0.22) 0 -1px, inset rgba(255,255,255,0.14) 0 -2px, rgba(0,0,0,0.22) 0 1px 2px;
	border: none;
	text-shadow: rgba(0,0,0,0.18) 0 1px 2px;

	width:100%;
	height:28px; border-radius:35px;
	cursor:pointer;
	text-align:center;
	margin:0 0 12px;
	font-size:13px;
	padding:0;
}
.loginIntegrado .formu label { padding:0;	font-size:100%; font-weight:bold;}
.col1 .loginIntegrado .formu .btn:active { box-shadow:inset rgba(0,0,0,0.18) 0 2px 1px, rgba(255,255,255,0.18) 0 -1px; background:#6a9e01;}
.col1 .loginIntegrado .formu .btn {	margin:0 0 12px;}

.boxAdsense { padding:5px; border:1px solid #d6d6d6; margin-bottom:18px; border-radius:1px;}

/* emergente pre-registro */

.emailVal{ font-size: 110%; font-weight:bold;}
.recomendacionSmall{ font-size: 85%; margin-top: 20px; text-align: justify;}

/* registro priorizando social login */

.btnSignInSuperBig a { padding-top:7px; box-shadow:inset rgba(0,0,0,0.21) 0 -2px, rgba(0,0,0,0.25) 0 1px 2px; display:block; width:210px; margin-left:13px; text-align:center; float:left; background-color:#ccc; color:#fff; text-decoration:none; border-radius:4px; margin-bottom:15px;}
.btnSignInSuperBig a:active { box-shadow:inset rgba(0,0,0,0.14) 0 0 37px, rgba(0,0,0,0.08) 0 -1px 1px;}

.btnSignInSuperBig .btnFb { background-color:#3b5998; margin-left:0;}
.btnSignInSuperBig .btnGl { background-color:#d13c2a;}
.btnSignInSuperBig .btnLv { background-color:#ff8900;}

.iSuperSocialLogin {
	display: block;
	width: 57px;
	height: 57px;
	margin: auto;
	background-image: url(../img/iSuperSocialLogin.png);
}
.txtBtnSocialLogin { line-height:42px; font-weight:bold;}
.btnFb .iSuperSocialLogin { background-position:0 0;}
.btnGl .iSuperSocialLogin { background-position:0 -57px;}
.btnLv .iSuperSocialLogin { background-position:0 -114px;}

.headerCenterLine { text-align:center; padding:20px 0;}
.lineHeader { border-bottom:1px solid #ccc; margin-bottom:-11px; display:block; }
.txtHeader { display:inline-block; padding:0 8px; max-width:70%; background-color:#fff; font-size:15px;}
.header  { text-align:center; margin-bottom:2px;}

.header h2 { border:none; margin-bottom:0; font-size:28px; padding:8px 0 0;}
.header p { font-size:14px; line-height:18px; margin-bottom:24px;}

.internalMail{
    overflow: overlay;
    outline: 1px solid #000;
}

/* accesoDirectorio */
.accesoDirectorio {
	height:57px;
	background-image: url(../img/bgDirectorio.jpg);
	background-color: #8fbc2b;
	padding-left:84px;
	line-height:57px;
	font-size:15px;
	color:#fff;
	font-family:"Segoe UI", Arial, sans-serif;
	font-weight:bold;
	display:block;
	text-decoration:none;
	margin-bottom:8px;
}
.newItemMenu { position:relative;}
.newItemMenu:after { position:absolute; content:" "; width:30px; height:30px; top:-15px; right:2px; background-image: url(../img/newItemMenu.png);}

/* Header */

.headerMain__lente {
	position:fixed;
	background:rgba(0,0,0,0.8);
	top:0;
	bottom:100%;
	left:0;
	right:100%;
	z-index:998;
	opacity:0;
	transition:opacity 300ms;
}

.headerMain h2 {
	display:none;
}

#headerMain__chkMenu, #headerMain__panel__login__chkLogin {
	display:none;
}

.headerMain__panel__login__bloque {
	width:100%;
	background:#e3e5eb;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:1rem;
	border-radius:0.6rem;
}

.headerMain__panel__login__bloque--continuo {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.headerMain__panel__login__campo {
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:#FFF;
	line-height:1rem;
	height:2rem;
	border:0;
	margin-bottom:0.5rem;
	text-align:center;
	border-radius:0.5rem;
	font-size:1rem;
}

.headerMain__panel__login__boton {
	height:2rem;
	border-radius:1rem;
	border:0;
	width:100%;
	font-size:1rem;
	color:#FFF;
	background:#86b41e;
	cursor:pointer;
	transition:background 200ms;
	-webkit-transition:background 200ms;
	-o-transition:background 200ms;
}

.headerMain__panel__login__boton:hover {
	background:#6d9c37;
}

.headerMain__panel__login__recordar {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	color:#000;
	margin-bottom:0.5rem;
}

.headerMain__panel__login__recordar label {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	margin-left:0.4rem;
}

.headerMain__panel__login__recordarLink {
	display:block;
	width:100%;
	text-align:center;
	font-weight:bold;
	margin-top:0.5rem;
}

.headerMain__panel__login__social {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	border-radius:0.6rem;
	border-top-left-radius:0;
	border-top-right-radius:0;
	overflow:hidden;
	margin-bottom:0.5rem;
}

.headerMain__panel__login__social__boton {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	display:inline-block;
	height:3rem;	
	text-align:center;
	text-decoration:none;
	color:#FFF;
	line-height:3rem;
	font-size:1.5rem;
}

.headerMain__panel__login__social__boton--fb {
	background:#3b5999;
}

.headerMain__panel__login__social__boton--fb:before {
	font-family:'iconEducaplay';
	content:"\ea90";
}

.headerMain__panel__login__social__boton--go {
	background:#d23c2b;
}

.headerMain__panel__login__social__boton--go:before {
	font-family:'iconEducaplay';
	content:"\ea88";
}

.headerMain__panel__login__social__boton--li {
	background:#ff8901;
}

.headerMain__panel__login__social__boton--li:before {
	font-family:'iconEducaplay';
	content:"\eac2";
}

.headerMain__panel__login__titulo {
	color:#000;
	font-weight:bold;
	margin-bottom:0.5rem;
}

.headerMain__panel__login__tickets {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

.headerMain__panel__login__campo--tickets {
	width:0;
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	text-transform:uppercase;
}

.headerMain__panel__login__campo--tickets:not(:last-child) {
	margin-right:0.5rem;
}

.headerMain__panel__boton {
	display: inline-block;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	line-height:2.3rem;
	padding-bottom:0.1rem;
	border-radius:1.2rem;
	font-weight:bold;
	font-size:0.95rem;
	background:linear-gradient(to right, #437d3b 0%,#6d9c37 100%);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.headerMain__panel__boton:hover {
	background:#86b41e;
}

label.headerMain__panel__boton {
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.headerMain__panel__boton--vacio {
	background:#FFF;
	color:#86b41e;
	border:1px solid #86b41e;
}

.headerMain__panel__boton--vacio:hover {
	background:#86b41e;
	color:#FFF;
}

.headerMargen {
	height:75px;
}

@media only screen and (max-width:69.99rem) {
	
	.headerMain__panel__login__slider {
		height:0;
		transition:opacity 1000ms;
		-webkit-transition:opacity 1000ms;
		-o-transition:opacity 1000ms;
		opacity:0;
		overflow:hidden;
	}
	
	#headerMain__panel__login__chkLogin:checked ~ .headerMain__panel__login__slider {
		opacity:1;
		height:auto;
		margin-bottom:1rem;
	}
	
	.headerMain__panel__boton {
		margin:1rem;
		margin-top:0;
		margin-bottom:0.5rem;
	}
	
	.headerMain {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	
	.headerMain__h1 {
		padding:1rem;
		padding-left:0;
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
	}
	
	.headerMain__franjaSuperior {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		position:absolute;
		left:0;
		right:0;
		top:0;
		height:75px;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		box-shadow:0 0 3px rgba(0,0,0,0.3);
	}
	
	.headerMain__franjaSuperior__botonIcon {
		cursor:pointer;
	}
	
	.headerMain__franjaSuperior__botonIcon__icon {
		display:inline-block;
		cursor:pointer;
		margin:20px;
		margin-top:23px;
		width:23px;
		height:10px;
		border-top:2px solid #000;
		border-bottom:2px solid #000;
	}
	
	.headerMain__franjaSuperior__botonIcon__icon:before {
		display:block;
		content:"";
		width:23px;
		height:4px;
		border-bottom:2px solid #000;
	}
	
	.headerMain__panel {
		position:fixed;
		background:#FFF;
		z-index:1000;
		bottom: 0;
		box-shadow:0 0 3px rgba(0,0,0,0.5);
		width:100%;
		max-width:25rem;
		top:0;
		left:-100%;
		transition:left 200ms;
		-webkit-transition:left 200ms;
		-o-transition:left 200ms;
		overflow-y:auto;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	
	#headerMain__chkMenu:checked ~ .headerMain__panel {
		left:0;
	}
	
	#headerMain__chkMenu:checked ~ .headerMain__lente {
		opacity:0.8;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	
	.headerMain__panel__cabecera {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		height:75px;
		-ms-flex-negative:0;
		flex-shrink:0;
	}

	.headerMain__panel__cabecera label {
		user-select:none; 
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		font-size:1rem;
		font-family:Arial;
		display:inline-block;
		cursor:pointer;
		padding:20px;
		width:23px;
		text-align:center;
	}
	
	.headerMain__panel__cabecera label:before {
		content:"\274c";
	}
	
	.headerMain__panel__language {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		margin:1rem;		
		min-height:2.4rem;
	}
	
	.headerMain__panel__language a {
		display:block;
		width:2.4rem;
		border-radius:1.2rem;
		line-height:2.35rem;
		padding-bottom:0.05rem;
		text-align:center;
		text-decoration:none;
		margin-right:0.5rem;
		font-weight:bold;
	}
	
	.headerMain__panel__language a:not(.headerMain__panel__language--selected) {
		background:#F1F1F1;
		transition:background 200ms;
		-webkit-transition:background 200ms;
		-o-transition:background 200ms;
	}
	
	.headerMain__panel__language a:not(.headerMain__panel__language--selected):hover {
		background:#DDD;
	}
	
	.headerMain__panel__language--selected {
		background:#86b41e;
		color:#FFF;
	}
	
	.headerMain__menu {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
		margin:1rem;
		margin-top:0.5rem;
	}
	
	.headerMain__menu li:not(:last-child) {
		border-bottom:1px solid #E9E9E9;
	}
	
	.headerMain__panel__login {
		-ms-flex-negative:0;
		flex-shrink:0;
		padding-left:1rem;
		padding-right:1rem;
	}
	
	.headerMain__menu__enlace {	
		font-size:1rem;
	}
	
}

@media only screen and (max-width:30rem) {
	
	.navAlerts {
		display:none;
	}
	
}

@media only screen and (min-width:70rem) {
	
	.headerMain__panel__login__slider {
		position:absolute;
		top:65px;
		width:20rem;
		background:#FFF;
		border-bottom-right-radius:0.3rem;
		border-bottom-left-radius:0.3rem;
		box-shadow:0 3px 3px rgba(0,0,0,0.5);
		z-index:1;
		right:1rem;
		opacity:0;
		height:0;
		overflow:hidden;
		z-index:1000;
	}
	
	#headerMain__panel__login__chkLogin:checked ~ .headerMain__panel__login__slider {	
		height:auto;
		transition:opacity 200ms;
		-webkit-transition:opacity 200ms;
		-o-transition:opacity 200ms;
		opacity:1;
		padding:1rem;
	}
	
	.headerMain__franjaSuperior__botonIcon, .headerMain__panel__cabecera img, .headerMain__panel__cabecera label, .headerMain__menu li:first-child {
		display:none;
	}
	
	.headerMain__h1 {
		margin:1rem;
		margin-top:0;
		margin-bottom:0;
	}
	
	.headerMain {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		position:absolute;
		background:#FFF;
		left:0;
		right:0;
		top:0;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		height:75px;
		box-shadow:0 0 3px rgba(0,0,0,0.3);
		z-index:999;
	}
	
	.headerMain__panel__language {
		position:absolute;
		top:88px;
		right:10px;
		z-index:997;
	}
	
	.headerMain__panel__language a {
		display:block;
		background:#70777f;
		width:22px;
		height:22px;
		line-height:20px;
		text-decoration:none;
		text-align:center;
		margin-bottom:0.2rem;
		border-radius:11px;
		font-size:0.6rem;
		font-weight:bold;
		color:#FFF;
		border:1px solid #878f99;	
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		transition:background 200ms;
		-webkit-transition:background 200ms;
		-o-transition:background 200ms;
	}
	
	.headerMain__panel__language a:hover {
		background:#878f99;
	}
	
	.headerMain__panel__language a.headerMain__panel__language--selected {
		color:#FFF;
		background:#86b41e;
		border:1px solid #a3d335;
	}
	
	.nav-user-logueado {
		position:absolute;
		top:19px;
		right:0;
	}
	
	.headerMain__panel {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
	}
	
	#headerMain__panel__boton__inicia {
		display: -ms-flexbox;		
		-webkit-box-ordinal-group:3;
		-ms-flex-order:2;
		order:2;
		
	}
	
	#headerMain__panel__boton__crea {
		display: -ms-flexbox;		
		-webkit-box-ordinal-group:2;
		-ms-flex-order:1;
		order:1;
		
	}
	
	#headerMain__panel__boton__nuevaAct {
		display: -ms-flexbox;		
		-webkit-box-ordinal-group:2;
		-ms-flex-order:1;
		order:1;
		margin-right:210px;
	}
	
	.headerMain__panel nav {
		flex-grow:1;
	}
	
	.headerMain__panel__boton {
		margin-left:1rem;
		padding-left:1rem;
		padding-right:1rem;
	}
	
	.headerMain__panel__boton--vacio {
		margin-right:1rem;
	}
	
	.headerMain__menu {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		max-width:50rem;
	}
	
	.headerMain__menu li {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
	}
	
	.headerMain__menu__enlace  {
		width:100%;
		text-align:center;
	}

}

.headerMain__menu__enlace {	
	display:block;
	text-decoration:none;
	color:#000;
	transition:color 300ms;
	-webkit-transition:color 200ms;
	-o-transition:color 200ms;
	line-height:3rem;
}

.headerMain__menu__enlace:hover, .headerMain__menu__enlace--select {
	color:#86b41e;
}

.img-header-logueado { width:32px; height:32px; overflow:hidden; border-radius:2px; float:right; background-color:#fff; overflow:hidden; font:0/0 a;}
.img-header-logueado img { width:32px; height:auto; vertical-align:middle;}
.img-header-logueado:before { display:inline-block; content:" "; vertical-align:middle; height:100%;}


/* menu logueado 2015 */

.containerDropdown { display:none; box-shadow:rgba(0,0,0,0.4) 0 5px 17px -5px; border-radius:3px 0 3px 3px; overflow:hidden; z-index:99;}

/* menu desplegable */
.navUser { float:right; width:44px; text-align:center; }
.contentNavUser {
	width:170px;
	position:absolute;
	top:31px;
	right:3px;
	text-align:left;
	background-color:#36393c;
	z-index:1000;
}
.contentNavUser ul, .contentNavUser li { list-style-type:none; margin:0; padding:0;}
.contentNavUser a { display:block; padding:9px 14px; font-size:12px; border-bottom:1px solid rgba(255,255,255,0.08); color:#fff; transition:all .3s; text-decoration:none;}
.contentNavUser li:last-child a { border-bottom:none;}
.contentNavUser a:hover { background-color:rgba(255,255,255,0.04);}

/* menu alertas */
.navAlerts { float:right; padding-right:12px;}
.boxAlert { width:53px; border-right:1px solid #e7e7e7; height:32px; display:block; float:left; text-align:center; line-height:39px;}

.boxAlert { position:relative;}
.numAlerts { position:absolute; display:block; top:5px; right:6px; background-color:#7aa326; border:2px solid #fff; color:#fff; font-weight:bold; font-size:9px; line-height:14px; width:14px; border-radius:10px; z-index:2; overflow:hidden;}
.iAlerts .numAlerts { right:8px;}
.iHeaderActive .numAlerts { display:none;}

/* iconos */
.iHeader {
	background-image: url(../img/iHeaderGroup.png);
	display:inline-block;
	line-height:25px;
	height: 32px;
	width: 43px;
	background-repeat:no-repeat;
	cursor:pointer;
	opacity:0.45;
	transition:opacity .5s;
	margin:auto;
	border-radius:2px 2px 0 0;
}

.iHeader:hover { opacity:.9;}
.iAlerts .iHeader { background-position:-54px -10px;}
.iMessage .iHeader { background-position:-3px -10px;}
.iArrowB .iHeader { background-position:-106px -10px;}
.iArrowB {  position:relative;}
.iArrowB .iHeader { width:38px;}

/* botones activos */
.iHeaderActive, .iHeaderActive:hover  {opacity:1; background-color:#85aa2f;}
.iAlerts .iHeaderActive {background-position:-54px -58px;}
.iMessage .iHeaderActive {background-position:-3px -58px;}
.iArrowB .iHeaderActive {background-position:-106px -59px; background-color:#36393c;}

.numAlerts { transition:all 1s; } 
.iHeaderActive .numAlerts { width:0; border-color:rgba(255,255,255,0.00); height:0; }

/* box emergente notificaciones */
.previewAlert {
	overflow:hidden;
	position: absolute;
	top: 30px;
	right:5px;
	width: 300px;
	z-index: 9999;
	font-size: 12px;
	color: #FFF;
	text-align:left;
}

.contentPreviewAlert { background-color:#85aa2f;}
.bodyPreviewAlert .contentPreviewAlert {border-bottom:1px solid #799f23;}
.headPreviewAlert .contentPreviewAlert { padding-top:2px; line-height:34px;}
.footPreviewAlert .contentPreviewAlert { height:32px; border-top:1px solid #a6c75a; }

.footPreviewAlert a {
	display:block;
	line-height:32px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	border-radius: 0 0 2px 2px;
}
.contentPreviewAlert a, .contentPreviewAlert strong { color:#f9ff93; text-decoration:none; font-weight:bold;}
.notificaciones li, .mensajesBox li {
	display:block;
	border-top:1px solid #9dbb59;
	padding:8px 12px 2px;
	line-height:16px;
	overflow:hidden;
}
.titPreviewAlert { font-weight:bold; padding-left:15px;}
.infoAlert { margin-left:48px; display:block;}
.iconInfoAlert { float:left; display:block; margin-top:2px;}
.contentPreviewAlert .close {
	display:none;
}
.timeAlert {
	font:11px/24px Arial, Helvetica, sans-serif;
	color:#e2ebcd;
	background-image: url(../img/iTimeAlert.png);
	background-repeat: no-repeat;
	background-position: 3px 7px;
	padding-left: 21px;
	display:block;
}
.notificaciones .nuevaNotificacion { border-top-color:#a8ca5b; background-color:#92bd32;}
.notificaciones .firstNotAnterior { border-top-color:#a8ca5b; }

.nuevoRankingObtenido .iconInfoAlert img, .rankActividadTop .iconInfoAlert img { border:none;}
.nuevoRankingObtenido .infoAlert,  .rankActividadTop .infoAlert { padding:3px 0 9px;}

#userMensajes .iconInfoAlert img { border:none;}

.mensajesBox .mensContent { color:#fff; display:block; font-weight:normal;}
.contentPreviewAlert .noAlerts { padding:26px 15px; color:#ecf4cd;}
.contentPreviewAlert .loadAlerts {
	height:80px;
	background-image: url(../img/loadAlerts.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

/* nav responsive */

#menu ul { display:inline-block;}

/* rediseño bar search */
.content-search-bar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline:none;
}

@-webkit-keyframes wobble {
  0% {
	height:0;
  }
 45% {
	  height:0;
	}
  70.65% {
	height:120%;
  }
  76.3% {
	height:88%;
  }
  82.95% {
	height:104%;
  }
  91.6% {
	height:98%;
  }
  95.25% {
	height:101%;
  }
  100% {
	height:100%;
  }
}

@keyframes wobble {
  0% {
	height:0;
  }
 45% {
	  height:0;
	}
  70.65% {
	height:120%;
  }
  76.3% {
	height:88%;
  }
  82.95% {
	height:104%;
  }
  91.6% {
	height:98%;
  }
  95.25% {
	height:101%;
  }
  100% {
	height:100%;
  }
}
.box-search .btnSearch {
	background-color: #86b41e;
	border: none;
	width: 32px;
	height: 32px;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 32px;
	background-image: url(../img/iBarSearch.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}
.box-search .btnSearch:active {	background-position: 8px 9px;}
.buscadorHead {
	background-color: #fff;
	background-color: transparent;
	border: none;
	font: 14px/20px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	width: 100%;
	padding: 4px 0;
	color: #777C83;
	transition:all .3s;
	margin-top:5px;
}
.content-search-bar {
  width: 995px;
  margin: auto;
  padding: 17px 1rem;
  max-width:100%;
  box-sizing:border-box;
}
#search-bar {
  background-color: #5e6876;
  overflow:hidden;
  height:100%;
  /*
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  */
}
.container-bar-search {
	height:68px;
}
.container-bar-search h2 {
	font:300 24px/34px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#fff;
	display:block;
	margin:0;
	padding:0;
  margin-right:285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float:none;
}
.box-search { transition:all .5s; float:right; width:272px; *width:218px; box-shadow:rgba(0,0,0,0.0) 0 4px 0px -5px; background-color:#fff; height:36px; padding:0 40px 0 16px;
border-radius:36px; position:relative;  overflow:hidden;
}
.box-search.box-search-active { box-shadow:rgba(0,0,0,0.35) 0 16px 13px -13px; }
.box-search.box-search-active  .buscadorHead {
	color: #111;
}

/* video Integrados modales */
.linkVideoCap { display:block; position:relative; box-shadow: #b2b2b2 0 0 7px;  margin: 0 0 17px;}
.linkVideoCap img { vertical-align:middle;}
/* ruta js\projekktor\themes\maccaco */
.linkVideoCap:before { position:absolute; display:block; content:""; width:84px; height:84px; top:50%; left:50%; margin:-42px 0 0 -42px;
	background-image: url(../js/projekktor/themes/maccaco/start.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.linkVideoCap:hover:before {	background-position: 0 -84px;}

/* cookies */
@-webkit-keyframes fadeInCookie {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInCookie {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.boxCookieInfo {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	z-index:999;
	background-color:#363f4a; color:#fff;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: fadeInCookie;
    animation-name: fadeInCookie;
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	font-size:13px;
	line-height:19px;
	font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
 }
.boxCookieInfo p { color:#fff; margin:0; padding:0;}
.boxCookieInfo div { padding:10px 14px; }
.boxCookieInfo a { color:#92c02c;}
.boxCookieInfo .closeCookieInfo { display:block; max-width:70px;  margin-top:8px; position:relative; border-radius:3px; padding:0 13px 0 38px; height:32px; text-decoration:none;  line-height:28px; text-align:center; background-color:#81ae19; color:#fff; font-size:15px; box-shadow:rgba(0,0,0,0.4) 0 1px 2px; }
.boxCookieInfo .iCloseCookieInfo {font-size:24px; line-height:27px; margin-right:4px; display:block; position:absolute; top:0; left:12px; transition:background .3s; }
.boxCookieInfo .closeCookieInfo:hover { background-color:#86b41e; }
.boxCookieInfo .closeCookieInfo:active { background-color:#78a412;}
 
  
@media only screen and (min-width:740px) {
 .boxCookieInfo { font-size:15px; line-height:20px; padding:4px 0;}
  .boxCookieInfo div { margin:0 136px 0 30px; }
 .boxCookieInfo .closeCookieInfo  { position:absolute; display:block; top:0; right:30px; }
 
 .boxCookieInfo--chat .closeCookieInfo {
		right:250px;
	}
	
	.boxCookieInfo--chat div { margin:0 350px 0 30px; }
 
}

/* responsive base */
.headInfoAct { background-position:right 0; max-width:656px;}

a img { border:none;}

@media only screen and (max-width: 660px) {
	.numberCount{ font-size:28px;}
}
@media only screen and (max-width: 430px) {
	.count-text { font-size:12px; padding-top:0;}
}

/*  responsive */
.col3 { width: 66%; }
.col2 { margin-left:70%; max-width:314px;}

@media only screen and (max-width : 940px) {
	.col3 { width: 100%; float:none; margin-bottom:15px; }
	.col2 { margin:0 auto; }
}

/* formulario de registro */

.btnSignInSuperBig {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;	
}

.btnSignInSuperBig a { width:32.5%; margin-left:1%; line-height:18px; }
.txtBtnSocialLogin { display:block; line-height:18px; padding:12px 0 10px;}
.btnSignInSuperBig a:fisrt-child { margin-left:0;}

@media only screen and (max-width : 520px) {
	.registrarse .formu span { float:none; width:100%; text-align:left; }
	.registrarse .btn.big { margin-left:0;}
	.le.boxbusact, .ri.boxbusact { float:none; width:100%; clear:both;}
.box-filters-recursos .dropit-menu { display:block; }
.spacio.contacto { padding-left:0; background-image:none;}
}


body, p {font:14px/21px "Segoe UI", Arial, sans-serif; color:#333; }
p {margin: .3em 0 1em; }

.text .boxactder, .text .boxautorder, #listActividadesTes .boxactder  { width:auto; float:none; margin-left:112px; min-height:108px;}

.boxHelp { max-width:100%;}

.box-addComment .btn { margin-left:0;}
.box-addComment { margin-bottom:15px;}
.box-addComment textarea { height:62px; width:70%; padding:4px; box-sizing:border-box; }


/* footer */

footer {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	width:100%;
}

.footer__superior {
	border-top:1px solid #ebebeb;
	padding-top:2rem;
	padding-bottom:2rem;
	text-align:center;
}

.footer__superior__texto {
	padding-left:1rem;
	padding-right:1rem;
}

.footer__inferior {
	background:#7aa326;
	text-align:center;
	color:#FFF;
}

.footer__inferior__menu a {
	display:inline-block;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}

.footer__inferior__social__boton {
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	width:2.1rem;
	line-height:2.1rem;
	font-size:1.3rem;
	margin-left:0.25rem;
	margin-right:0.25rem;
}

.footer__inferior__social__boton--fb {
	background:#3b5999;
}

.footer__inferior__social__boton--fb:before {
	font-family:'iconEducaplay';
	content:"\ea90";
}

.footer__inferior__social__boton--tw {
	background:#2b97f0
}

.footer__inferior__social__boton--tw:before {
	font-family:'iconEducaplay';
	content:"\ea96";
}

@media only screen and (max-width:57.99rem) {
	
	.footer__inferior__copy {
		margin-top:1rem;
		margin-bottom:2rem;
	}
	
	.footer__inferior__siguenos {
		margin-top:2rem;
		margin-bottom:0.5rem;
	}
	
	.footer__inferior__social {
		margin-bottom:2rem;
	}
	
	.footer__inferior__menu a {
		width:100%;
	}
	
}

@media only screen and (min-width:58rem) {
	
	.footer__superior {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:center;
		-ms-flex-pack:center;
		justify-content:center;
	}
	
	.footer__inferior {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		padding-left:2rem;
		padding-right:2rem;
		height:10rem;
	}
	
	.footer__inferior__siguenos {
		margin-right:1rem;
	}
	
	.footer__inferior__menu {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		flex-grow:1;
		-webkit-box-pack:center;
		-ms-flex-pack:center;
		justify-content:center;
	}
	
	.footer__inferior__menu li:not(:last-child):after {
		content:"•";
		display:inline-block;
		width:1rem;
	}
	
}

.container-index {
	max-width:995px;
	margin:auto;
	padding:20px 0;
}

.row-clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;

}

@media only screen and (max-width: 640px) {
	.row-clearfix, .container-index.row-clearfix { padding-left:10px; padding-right:10px;}
}

.reg_input1, .reg_input2, .reg_input3 {
    border:1px solid #a9a9a9;
    border-radius:5px;
    padding:0;
    margin:0;
    width:100%;
    font-size:1.2em;
    font-weight:bold;
    height:40px;
    padding-left:10px;
    padding-right:10px;
    box-sizing:border-box;
    margin-bottom:10px;
}

.reg_input1, .reg_input2 {
    width:calc(50% - 6px);
}

.reg_input1 {
    margin-right:8px;
}

.reg_btn {
    background:#78aa10;
    border:0;
    color:#FFF;
    font-size:1.2em;
    font-weight:bold;
    height:40px;
    padding-left:30px;
    padding-right:30px;
    border-radius:15px;
    transition:background 400ms;
    cursor:pointer;
}

.reg_btn:hover {
    background:#a9a9a9;
}

.reg_input1::-webkit-input-placeholder, .reg_input2::-webkit-input-placeholder, .reg_input3::-webkit-input-placeholder {
  color:#888;
}
.reg_input1::-moz-placeholder, .reg_input2::-moz-placeholder, .reg_input3::-moz-placeholder {
  color:#2a2a2a;
}
.reg_input1:-ms-input-placeholder, .reg_input2:-ms-input-placeholder, .reg_input3:-ms-input-placeholder {
  color:#888;
}
.reg_input1:-moz-placeholder, .reg_input2:-moz-placeholder, .reg_input3:-moz-placeholder {
  color:#2a2a2a;
}

select.reg_input2 option {
	 color:#000;
}

select.reg_input4 {
	 color:#888;
} 

.reg_error {
	background:#FCC;
}

.ent_margen {
	margin-right:10px;
}