var demostracion=1;var idInterval=0;function crear()
{miLienzo=$('#lienzo');img=new Image();img.src=rutaRecursos+imagen;img.id="imagenPrincipal";img.onload=function(){imagenAncho=img.width;imagenAlto=img.height;var divImagen=$("<div>",{id:"divImagen"});miLienzo.append(divImagen);$("#divImagen").append(img);if(((forma_juego=="ambos")||(forma_juego=="demostracion"))&&(demostracion==1))demostracion=1;else demostracion=0;if(demostracion==1)cargarPresentacion();else{$('#btnsPresentacion').hide();$('#btnsPresentacion2').hide();$('#footAct').removeClass('screemAprender');cargarJuego();}}}
function cargarJuego()
{for(i=0;i<re.length;i++)
{if(i<10)ix="00"+i;else if(i<100)ix="0"+i;else ix=i;var pxt=coordenadaX[i];var pyt=coordenadaY[i];if($("#imagenPrincipal").height()>$("#wrapper").height())
{$("#imagenPrincipal").css("height",$("#wrapper").height());$("#imagenPrincipal").css("width","auto");$("#divImagen").css("width",$("#imagenPrincipal").width());$("#divImagen").css("height",$("#imagenPrincipal").height());$("#divImagen").css("margin","auto");$("#scroller").css("width",$("#imagenPrincipal").width());$("#scroller").css("height",$("#imagenPrincipal").height());$("#scroller").css("margin","auto");}
var porceX=pxt*100/imagenAncho;var porceY=pyt*100/imagenAlto;var pxtp=porceX+"%";var pytp=porceY+"%";var divPunto=$("<div>",{id:"marker"+ix,"class":"marker",css:{"left":pxtp,"top":pytp}});$("#divImagen").append(divPunto);var divSolucion=$("<div>",{id:"solucion"+ix});$("#marker"+ix).append(divSolucion);}
$('#scroller').addClass('unselectable');$(".marker").click(gestionarPalabra);$("#numPuntos").text("0");if(forma_juego!="juego")
{idInterval=setInterval(contador,1000);}}
function cargarPresentacion()
{for(i=0;i<re.length;i++)
{if(i<10)ix="00"+i;else if(i<100)ix="0"+i;else ix=i;var pxt=coordenadaX[i];var pyt=coordenadaY[i];if($("#imagenPrincipal").height()>$("#wrapper").height())
{$("#imagenPrincipal").css("height",$("#wrapper").height());$("#imagenPrincipal").css("width","auto");$("#divImagen").css("width",$("#imagenPrincipal").width());$("#divImagen").css("height",$("#imagenPrincipal").height());$("#divImagen").css("margin","auto");$("#scroller").css("width",$("#imagenPrincipal").width());$("#scroller").css("height",$("#imagenPrincipal").height());$("#scroller").css("margin","auto");}
if(forma_presentacion=="secuencia")
{var clasePresentacion="marker mAprender";}
else if(forma_presentacion=="libre")
{var clasePresentacion="marker mDescubrir";}
var porceX=pxt*100/imagenAncho;var porceY=pyt*100/imagenAlto;var pxtp=porceX+"%";var pytp=porceY+"%";var divPunto=$("<div>",{id:"marker"+ix,"class":clasePresentacion,css:{"left":pxtp,"top":pytp}});$("#divImagen").append(divPunto);var divSolucion=$("<div>",{id:"solucion"+ix,"class":"soluciones"});if(globalFeedback==1)
{if(fe[i]!=undefined)
{divSolucion.html("<div class='hid'><div class='titTooltip'>"+re[i]+"</div><div class='txtTooltip'>"+fe[i]+"</div></div>");}
else
{divSolucion.html("<div class='hid'><div class='titTooltip'>"+re[i]+"</div></div>");}}
else
{divSolucion.html("<div class='hid'><div class='titTooltip'>"+re[i]+"</div></div>");}
$("#marker"+ix).append(divSolucion);if(forma_presentacion=="secuencia")
{var divNumerito=$("<div>",{id:"numerito"+ix,"class":"numMapaRespuesta"});$(divNumerito).text(i+1);$("#marker"+ix).append(divNumerito);}
var anchuraTooltip=118;var alturaTooltip=$("#wrapper").height()/2;var coX=parseInt($("#marker"+ix).css("left"),10);var coY=parseInt($("#marker"+ix).css("top"),10);claseCS="tooltip arriba centro";if((coX<anchuraTooltip)&&(coY<alturaTooltip))claseCS="tooltip abajo derecha";else if((coX<anchuraTooltip)&&(coY>alturaTooltip))claseCS="tooltip arriba derecha";else if((coX>$("#scroller").width()-anchuraTooltip)&&(coY<alturaTooltip))claseCS="tooltip abajo izquierda";else if((coX>$("#scroller").width()-anchuraTooltip)&&(coY>alturaTooltip))claseCS="tooltip arriba izquierda";else if(coY<alturaTooltip)claseCS="tooltip abajo centro";$("#solucion"+ix).addClass(claseCS);if(globalFeedback==1)
{if(fe[i]!=undefined)
{$("#solucion"+ix).addClass("bTooltip");}}}
$('#scroller').addClass('unselectable');$("#numPuntos").text("0");$("#pistaPalabra").hide();$("#btnAudio").hide();if(forma_presentacion=="secuencia")
{$('.marker').hide();$('#numPag').html(0+" ");$('#numPagT').html("/ "+re.length);$("#txtBtnAtras").text(txtAnterior);$("#txtBtnAdelante").text(txtSiguiente);$("#btnsPresentacion2").hide();$("#btnComenzarAprender").text(txtJugar);$("#btnAdelante").click(function(){gestionPresentacion('adelante');});}
else if(forma_presentacion=="libre")
{$("#btnsPresentacion").hide();$(".marker").click(gestionPresentacionClick);if(forma_juego=="demostracion")
{$("#btnSeguir").text(txtFinalizar);$("#btnSeguir").click(function(e){e.preventDefault();pantallaFinalSinJuego();});}
else
{$("#btnSeguir").text(txtJugar);$("#btnSeguir").click(function(e){e.preventDefault();finalPresentacionClick();});}}};function extraerDatos()
{tipo_actividad="Mapa";try{origen_recursos=xmlDoc.getElementsByTagName("origen_recursos")[0].childNodes[0].nodeValue;}catch(e)
{origen_recursos="";}
if(origen_recursos){rutaRecursos=origen_recursos;}
try{colorFuente=xmlDoc.getElementsByTagName("color_fuente")[0].childNodes[0].nodeValue;colorFuenteB=xmlDoc.getElementsByTagName("color_fuente_b")[0].childNodes[0].nodeValue;colorFuenteInt=colorFuente.substring(2,colorFuente.length);colorFuente="#"+colorFuente.substring(2,colorFuente.length);colorFuenteB="#"+colorFuenteB.substring(2,colorFuenteB.length);}catch(e){colorFuente="#FFFFFF";colorFuenteB="#111111";}
colorFondo=xmlDoc.getElementsByTagName("color_fondo_h")[0].childNodes[0].nodeValue;colorFondoInt=colorFondo.substring(2,colorFondo.length);colorFondo="#"+colorFondo.substring(2,colorFondo.length);colorBotones=xmlDoc.getElementsByTagName("color_botones_h")[0].childNodes[0].nodeValue;colorBotones=colorBotones.substring(2,colorBotones.length);try{logoPersonalizado=xmlDoc.getElementsByTagName("logoPersonalizado")[0].childNodes[0].nodeValue;}catch(e){logoPersonalizado="";}
try{franjaPersonalizada=xmlDoc.getElementsByTagName("franjaPersonalizada")[0].childNodes[0].nodeValue;}catch(e){franjaPersonalizada="";}
forma_completar=xmlDoc.getElementsByTagName("forma_completar")[0].childNodes[0].nodeValue;forma_juego=xmlDoc.getElementsByTagName("forma_juego")[0].childNodes[0].nodeValue;forma_presentacion=xmlDoc.getElementsByTagName("forma_presentacion")[0].childNodes[0].nodeValue;if((forma_completar=="escribir")&&(forma_juego!="demostracion"))
{sensible_mayusculas=xmlDoc.getElementsByTagName("sensible_mayusculas")[0].childNodes[0].nodeValue;sensible_acentos=xmlDoc.getElementsByTagName("sensible_acentos")[0].childNodes[0].nodeValue;}
else
{sensible_mayusculas="noDefinido";sensible_acentos="noDefinido";}
numero_intentos=xmlDoc.getElementsByTagName("numero_intentos")[0].childNodes[0].nodeValue;globalFeedback=xmlDoc.getElementsByTagName("globalFeedback")[0].childNodes[0].nodeValue;if(xmlDoc.getElementsByTagName("autor")[0].childNodes.length==0){autor='';}else{autor=xmlDoc.getElementsByTagName("autor")[0].childNodes[0].nodeValue;}
descripcionUsuario=xmlDoc.getElementsByTagName("descripcionUsuario")[0].childNodes[0].nodeValue;registro=xmlDoc.getElementsByTagName("registro")[0];tiempo=xmlDoc.getElementsByTagName("tiempo")[0].childNodes[0].nodeValue;if(tiempo=="si")tiempo=xmlDoc.getElementsByTagName("tiempo")[0].attributes.getNamedItem("maximo").value;else if(tiempo=="no")tiempo=0;descripcion=xmlDoc.getElementsByTagName("descripcion")[0].childNodes[0].nodeValue;enunciado=xmlDoc.getElementsByTagName("enunciado")[0].childNodes[0].nodeValue;imagen=xmlDoc.getElementsByTagName("imagen")[0].childNodes[0].nodeValue;var idioma=xmlDoc.getElementsByTagName("idioma")[0];instrucciones=idioma.getElementsByTagName("txtTitulo")[0].childNodes[0].nodeValue;nIntentos=idioma.getElementsByTagName("nIntentos")[0].childNodes[0].nodeValue;txtPuntos=idioma.getElementsByTagName("txtPuntos")[0].childNodes[0].nodeValue;txtTiempo=idioma.getElementsByTagName("txtTiempo")[0].childNodes[0].nodeValue;txtTiempoRestante=idioma.getElementsByTagName("txtTiempoRestante")[0].childNodes[0].nodeValue;txtMostrarPalabra=idioma.getElementsByTagName("txtMostrarPalabra")[0].childNodes[0].nodeValue;pista=idioma.getElementsByTagName("pista")[0].childNodes[0].nodeValue;txtRespuestaIncorrecta=idioma.getElementsByTagName("txtRespuestaIncorrecta")[0].childNodes[0].nodeValue;txtActNoSuperada=idioma.getElementsByTagName("txtActNoSuperada")[0].childNodes[0].nodeValue;txtTiempoSuperado=idioma.getElementsByTagName("txtTiempoSuperado")[0].childNodes[0].nodeValue;txtCerrar=idioma.getElementsByTagName("txtCerrar")[0].childNodes[0].nodeValue;txtRespuestaCorrecta=idioma.getElementsByTagName("txtRespuestaCorrecta")[0].childNodes[0].nodeValue;txtOtrasRespuestas=idioma.getElementsByTagName("txtOtrasRespuestas")[0].childNodes[0].nodeValue;txtTituloRespuestaCorrecta=idioma.getElementsByTagName("txtTituloRespuestaCorrecta")[0].childNodes[0].nodeValue;txtRespuestaCorrecta=idioma.getElementsByTagName("txtRespuestaCorrecta")[0].childNodes[0].nodeValue;txtBoxRespuestaCorrecta=idioma.getElementsByTagName("txtBoxRespuestaCorrecta")[0].childNodes[0].nodeValue;txtTituloOtrasRespuestas=idioma.getElementsByTagName("txtTituloOtrasRespuestas")[0].childNodes[0].nodeValue;txtSuperadoNumeroIntentos=idioma.getElementsByTagName("txtSuperadoNumeroIntentos")[0].childNodes[0].nodeValue;txtInicioPreguntas=idioma.getElementsByTagName("txtInicioPreguntas")[0].childNodes[0].nodeValue;txtAceptar=idioma.getElementsByTagName("txtAceptar")[0].childNodes[0].nodeValue;txtSensibleMayusculas=idioma.getElementsByTagName("txtSensibleMayusculas")[0].childNodes[0].nodeValue;txtNoSensibleMayusculas=idioma.getElementsByTagName("txtNoSensibleMayusculas")[0].childNodes[0].nodeValue;txtSensibleAcentos=idioma.getElementsByTagName("txtSensibleAcentos")[0].childNodes[0].nodeValue;txtNoSensibleAcentos=idioma.getElementsByTagName("txtNoSensibleAcentos")[0].childNodes[0].nodeValue;txtErrorImagen=idioma.getElementsByTagName("txtErrorAudioSoportado")[0].childNodes[0].nodeValue;txtActividadNoSuperada=idioma.getElementsByTagName("txtActividadNoSuperada")[0].childNodes[0].nodeValue;txtAceptar=idioma.getElementsByTagName("txtAceptar")[0].childNodes[0].nodeValue;txtTiempoMaximo=idioma.getElementsByTagName("txtTiempoMaximo")[0].childNodes[0].nodeValue;txtSensible=idioma.getElementsByTagName("txtSensible")[0].childNodes[0].nodeValue;txtMayusculasMinusculas=idioma.getElementsByTagName("txtMayusculasMinusculas")[0].childNodes[0].nodeValue;txtAcentos=idioma.getElementsByTagName("txtAcentos")[0].childNodes[0].nodeValue;txtComenzar=idioma.getElementsByTagName("txtComenzar")[0].childNodes[0].nodeValue;txtAutor=idioma.getElementsByTagName("txtAutor")[0].childNodes[0].nodeValue;txtAyuda=idioma.getElementsByTagName("txtAyuda")[0].childNodes[0].nodeValue;txtMostrarMas=idioma.getElementsByTagName("txtMostrarMas")[0].childNodes[0].nodeValue;txtMostrarMenos=idioma.getElementsByTagName("txtMostrarMenos")[0].childNodes[0].nodeValue;txtReiniciar=idioma.getElementsByTagName("txtReiniciar")[0].childNodes[0].nodeValue;txtVolverJugar=idioma.getElementsByTagName("txtVolverJugar")[0].childNodes[0].nodeValue;txtResponder=idioma.getElementsByTagName("txtResponder")[0].childNodes[0].nodeValue;txtRegistrarse=idioma.getElementsByTagName("txtRegistrarse")[0].childNodes[0].nodeValue;txtAcceder=idioma.getElementsByTagName("txtAcceder")[0].childNodes[0].nodeValue;txtCompartirResultado=idioma.getElementsByTagName("txtCompartirResultado")[0].childNodes[0].nodeValue;txtAumentar=idioma.getElementsByTagName("txtAumentar")[0].childNodes[0].nodeValue;txtReducir=idioma.getElementsByTagName("txtReducir")[0].childNodes[0].nodeValue;txtImprimir=idioma.getElementsByTagName("txtImprimir")[0].childNodes[0].nodeValue;txtPantallaCompleta=idioma.getElementsByTagName("txtPantallaCompleta")[0].childNodes[0].nodeValue;txtAnterior=idioma.getElementsByTagName("txtAnterior")[0].childNodes[0].nodeValue;txtSiguiente=idioma.getElementsByTagName("txtSiguiente")[0].childNodes[0].nodeValue;txtJugar=idioma.getElementsByTagName("txtJugar")[0].childNodes[0].nodeValue;txtFinalizar=idioma.getElementsByTagName("txtFinalizar")[0].childNodes[0].nodeValue;txtInfoAdicional=idioma.getElementsByTagName("txtInfoAdicional")[0].childNodes[0].nodeValue;txtSocial=idioma.getElementsByTagName("txtSocial")[0].childNodes[0].nodeValue;re=[];au=[];fe=[];coordenadaX=[];coordenadaY=[];respuestaNum=xmlDoc.getElementsByTagName("respuesta");for(var i=0;i<respuestaNum.length;i++)
{re[i]=respuestaNum[i].childNodes[0].nodeValue;coordenadaX[i]=respuestaNum[i].attributes.getNamedItem("x").value;coordenadaY[i]=respuestaNum[i].attributes.getNamedItem("y").value;au[i]=respuestaNum[i].attributes.getNamedItem("audio").value;if(au[i]=="")au[i]="no";if(globalFeedback==1)
{if(respuestaNum[i].attributes.getNamedItem("feedback").value!="")
{fe[i]=respuestaNum[i].attributes.getNamedItem("feedback").value;fe[i]=libLinkCreator(fe[i],{target:'_blank',linkReplace:''});}}}}
function inicializarElementos()
{inicializarColores();inicializarEventosPrincipales();inicializarPantallaInicial();inicializarPista();inicializarParametros();inicializarTituloAct();inicializarAlertaCorrecta();inicializarAlertaIncorrecta();inicializarRecargar();inicializarAyuda();inicializarZoom();inicializarRegistro();setTimeout(function(){inicializarSonidos();},2000);}
function inicializarEventosPrincipales()
{$(window).resize(function(){redimensionar("redi");});if(forma_completar=="clickar")
{$("#wrapper").mousemove(function(e){if(e.pageY<155){$("#pistaPalabra").addClass("pistaBottom");}else{$("#pistaPalabra").removeClass("pistaBottom");}});$("#pistaPalabra").click(function(){if($("#pistaPalabra").hasClass("pistaBottom")){$("#pistaPalabra").removeClass("pistaBottom");}else{$("#pistaPalabra").addClass("pistaBottom");}});}}
function inicializarPista()
{if(forma_completar=="clickar")
{$('#textoPistaPalabra').text(txtInicioPreguntas);}
else if(forma_completar=="escribir")
{$('#btnAudio').hide();$("#pistaPalabra").hide();$("#btnComprueba").attr("value",txtAceptar);$("#shadowMap").click(function(){$("#campoEscribir").val("");cerrarPantallaEscribir();$("#marker"+cadenaPalabraActiva).bind("click",gestionarPalabra);});}}
function inicializarSonidos()
{var rutaAudio="https://es.educaplay.com/snd_html5/bien.mp3";$('#sonidos').html("<audio id='audioBien'><source src='"+rutaAudio+"'><source src='"+rutaAudio.substring(0,15)+".wav'></audio>");rutaAudio="https://es.educaplay.com/snd_html5/mal.mp3";$('#sonidos').html($('#sonidos').html()+"<audio id='audioMal'><source src='"+rutaAudio+"'><source src='"+rutaAudio.substring(0,14)+".wav'></audio>");};function inicializarVariablesXapi(){}
function inicializarCorregir(){}
function inicializarXapi(){}
function completarXapi(tipoFinal){}
function abandonarXapi(){}
function responderUnicaXapi(testcorrecta,respuesta,testrespondida,exito){}
function responderMultipleXAPI(correcta,respuesta,testrespondida,exito){}
function responderEscritaXapi(correcta,testrespondida,exito){}
function pulsar(sentido){var origen="";if(sentido=="siguiente"){origen="#btnAdelante"}
else{origen="#btnAtras"}
$(origen).click(function(e){e.preventDefault();if(sentido=="siguiente"){cambiarPregunta("AD");}
else{cambiarPregunta("AT");}});}
function pulsarRadio(){}
function pulsarEscribir(e){}
function pulsarReproducir(e){}
function desmarcarCheck(){}
function marcarCheck(){};var controlPresentacion=0;function gestionPresentacion(accion)
{redimensionar('encaja');if(accion=="inicio")
{$("#btnAtras").addClass('disable');}
else if(accion=="atras")
{controlPresentacion--;if(controlPresentacion==0){$("#btnAtras").unbind("click");$("#btnAtras").addClass('disable');}
if(controlPresentacion==re.length-1)
{$("#comenzarScreemAprender").hide();$(".shadowMap").hide();$("#btnComenzarAprender").unbind('click');$("#btnAdelante").click(function(){gestionPresentacion('adelante');});$("#btnAdelante").removeClass("disable");}}
else if(accion=="adelante")
{controlPresentacion++;if(controlPresentacion==1){$("#btnAtras").click(function(){gestionPresentacion('atras');});$("#btnAtras").removeClass('disable');}
if(controlPresentacion==re.length)
{$("#btnAdelante").unbind("click");$("#btnAdelante").addClass("disable");$("#comenzarScreemAprender").show();$(".shadowMap").show();if(forma_juego=="demostracion")
{$("#btnComenzarAprender").text(txtFinalizar);$("#btnComenzarAprender").click(function(e){e.preventDefault();pantallaFinalSinJuego();});}
else
{$("#btnComenzarAprender").click(function(e){e.preventDefault();gestionPresentacion('jugar');});}}}
else if(accion=="jugar")
{if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();$("#comenzarScreemAprender").hide();$(".shadowMap").hide();var cadena="";cadena+="<div id='pistaPalabra'>";cadena+="<div id='textoPistaPalabra'></div>";cadena+="<div id='valorPistaPalabra'></div>";cadena+="<div id='audioPistaPalabra'></div>";cadena+="</div>";cadena+="<div id='wrapper'>";cadena+="<div id='scroller'>";cadena+="<div class='btnComenzar' id='comenzarScreemAprender'>";cadena+="<a href='#' class='btn btn-large btn-primary' id='btnComenzarAprender'></a>";cadena+="</div>";cadena+="<div id='cuadroEscribir' class='cuadroEscribir'>";cadena+="<input type='text' id='campoEscribir'>";cadena+="<input type='button' id='btnComprueba' class='btn btn-mini'>";cadena+="<div class='clear'></div>";cadena+="</div>";cadena+="<div id='lienzo'></div>";cadena+="<div class='shadowMap' id='shadowMap'></div>";cadena+="</div>";cadena+="</div>";$('#main').html(cadena);inicializarEventosPrincipales();inicializarPista();demostracion=0;$(document).unbind("keyup");$("#pistaAudio").remove();if(forma_completar=="clickar")
{$("#pistaPalabra").show();$("#btnAudio").show();cambiarPalabra();}
crear();comenzar();clearInterval(compruebaFin);}
if(accion!="jugar")
{var indicador=controlPresentacion+1;if(indicador>re.length)indicador=re.length;$('#numPag').html(indicador+" ");if(controlPresentacion<10)cx="00"+controlPresentacion;else if(controlPresentacion<100)cx="0"+controlPresentacion;else cx=controlPresentacion;$('.marker').hide();$('#marker'+cx).show();if((au[controlPresentacion]!="no")&&(au[controlPresentacion]!=undefined))
{if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();$('#audioPistaPalabra').html("");$('#btnAudio').unbind("click");var rutaAudio=rutaRecursos+au[controlPresentacion];var rutaAudioOgg=rutaRecursosInicio+au[controlPresentacion];var audioCadena="<audio id='pistaAudio'><source src='"+rutaAudio+"' type='audio/mpeg'></source><source src='"+rutaAudio.substring(0,rutaAudio.length-3)+"ogg' type='audio/ogg'></source><source src='"+rutaAudioOgg.substring(0,rutaAudioOgg.length-3)+"ogg' onError='errores(-1);' type='audio/ogg'></source></audio>";$('#audioPistaPalabra').html(audioCadena);$('#btnAudio').show();$('#btnAudio').click(function(e){e.preventDefault();gestionReproducir("pistaAudio","iconoAudio");});reproducir("pistaAudio","iconoAudio");}
else
{$('#btnAudio').hide();if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();}}}
function gestionPresentacionClick(e)
{var id=e.target.getAttribute("id");var cadenaNumMarker=id.substring(6,9);var numMarker=parseInt(id.substring(6,9),10);if(!$("#marker"+cadenaNumMarker).hasClass("mostrarTooltip"))
{$(".marker").removeClass("mostrarTooltip");$("#marker"+cadenaNumMarker).addClass("mostrarTooltip");if((au[numMarker]!="no")&&(au[numMarker]!=undefined))
{if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();$('#audioPistaPalabra').html("");$('#btnAudio').unbind("click");var rutaAudio=rutaRecursos+au[numMarker];var rutaAudioOgg=rutaRecursosInicio+au[numMarker];var audioCadena="<audio id='pistaAudio'><source src='"+rutaAudio+"' type='audio/mpeg'></source><source src='"+rutaAudio.substring(0,rutaAudio.length-3)+"ogg' type='audio/ogg'></source><source src='"+rutaAudioOgg.substring(0,rutaAudioOgg.length-3)+"ogg' onError='errores(-1);' type='audio/ogg'></source></audio>";$('#audioPistaPalabra').html(audioCadena);$('#btnAudio').show();$('#btnAudio').click(function(e){e.preventDefault();gestionReproducir("pistaAudio","iconoAudio");});reproducir("pistaAudio","iconoAudio");}
else
{$('#btnAudio').hide();if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();}}
else
{$("#marker"+cadenaNumMarker).removeClass("mostrarTooltip");$('#btnAudio').hide();if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();}}
function finalPresentacionClick()
{if(document.getElementById('pistaAudio')!=null)document.getElementById('pistaAudio').pause();$("#btnSeguir").hide();var cadena="";cadena+="<div id='pistaPalabra'>";cadena+="<div id='textoPistaPalabra'></div>";cadena+="<div id='valorPistaPalabra'></div>";cadena+="<div id='audioPistaPalabra'></div>";cadena+="</div>";cadena+="<div id='wrapper'>";cadena+="<div id='scroller'>";cadena+="<div class='btnComenzar' id='comenzarScreemAprender'>";cadena+="<a href='#' class='btn btn-large btn-primary' id='btnComenzarAprender'></a>";cadena+="</div>";cadena+="<div id='cuadroEscribir' class='cuadroEscribir'>";cadena+="<input type='text' id='campoEscribir'>";cadena+="<input type='button' id='btnComprueba' class='btn btn-mini'>";cadena+="<div class='clear'></div>";cadena+="</div>";cadena+="<div id='lienzo'></div>";cadena+="<div class='shadowMap' id='shadowMap'></div>";cadena+="</div>";cadena+="</div>";$('#main').html(cadena);inicializarEventosPrincipales();inicializarPista();demostracion=0;$(document).unbind("keyup");if(forma_completar=="clickar")
{$("#pistaPalabra").show();$("#btnAudio").show();cambiarPalabra();}
crear();comenzar();}
function validarTecladoPresentacion(event)
{var evento=event||window.event;if(evento.keyCode==39)
{if(controlPresentacion<re.length)gestionPresentacion('adelante');}
if(evento.keyCode==37)
{if(controlPresentacion>0)gestionPresentacion('atras');}}
function comenzar()
{inicializarVariablesXapi();inicializarXapi();$(document).unbind('keyup');$(document).keyup(validarTecladoPresentacion);$('#contentPreActividad').hide();$('#contentAct').css('top',0);if(is_touch_device())
{myScroll=new iScroll('wrapper',{zoom:true});}
else
{$('#wrapper').css("overflow","hidden");$('#lienzo').mousedown(capturarCoordenadasInicio);$(document).mouseup(pararDesplazamiento);$('#lienzo').mousemove(desplazarLienzo);$('#scroller').addClass('cursorGrab');document.getElementById('scroller').onmousewheel=wheel;document.getElementById('scroller').addEventListener('DOMMouseScroll',wheel,false);}
if(forma_juego=="demostracion")
{idInterval=setInterval(contador,1000);puntosReg=100;$("#numPuntos").text("100");if(forma_presentacion=="secuencia")
{gestionPresentacion('inicio');}}
if(forma_juego=="juego")
{idInterval=setInterval(contador,1000);if(forma_completar=="clickar")
{cambiarPalabra();}}
if((forma_juego=="ambos")&&(forma_presentacion=="secuencia")&&(demostracion==1))
{gestionPresentacion('inicio');}}
var escala=1;var escalaAnterior=1;var controlZoom=0;var controlRedi=0;function redimensionar(tipo)
{if(tipo=="redi")
{if(($("#imagenPrincipal").width()<=$("#wrapper").width())&&($("#imagenPrincipal").height()>=$("#wrapper").height()))
{$("#imagenPrincipal").css("height",$("#wrapper").height());$("#imagenPrincipal").css("width","auto");$("#divImagen").css("width",$("#imagenPrincipal").width());$("#divImagen").css("height",$("#imagenPrincipal").height());$("#divImagen").css("margin","auto");$("#scroller").css("width",$("#imagenPrincipal").width());$("#scroller").css("height",$("#imagenPrincipal").height());$("#scroller").css("margin","auto");}
else
{$("#imagenPrincipal").css("height","auto");$("#imagenPrincipal").css("width","100%");$("#divImagen").css("width","100%");$("#divImagen").css("height","auto");$("#scroller").css("width","100%");$("#scroller").css("height","auto");}
if(controlRedi==0)
{setTimeout(function(){redimensionar("redi")},200);controlRedi=1;}
else
{controlRedi=0;}
cargarDescripcionInicio();}
if(tipo=="encaja")
{controlZoom=1;$('#encajarEnPantalla').addClass('disable');$('#zoomDown').addClass('disable');$('#zoomUp').removeClass('disable');escalaAnterior=escala;escala=1;if(escala!=escalaAnterior)
{var zoom=parseInt(100*escala);$('#infoZoom').html(zoom+"%");$('#infoZoom').fadeIn(500);setTimeout(function(){$('#infoZoom').fadeOut(500);},2000);}
actualX=0;actualY=0;$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+actualX+"px,"+actualX+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualX+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualX+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualX+")");$('.marker').css("-moz-transform","scale("+escala+")");$('.marker').css("-ms-transform","scale("+escala+")");$('.marker').css("-o-transform","scale("+escala+")");$('.marker').css("-webkit-transform","scale("+escala+")");$("#comenzarScreemAprender").css("-moz-transform","scale("+escala+")");$("#comenzarScreemAprender").css("-ms-transform","scale("+escala+")");$("#comenzarScreemAprender").css("-o-transform","scale("+escala+")");$("#comenzarScreemAprender").css("-webkit-transform","scale("+escala+")");}
if(tipo=="up")
{controlZoom=1;$('#encajarEnPantalla').removeClass('disable');$('#zoomDown').removeClass('disable');if(escala>=4.9)$('#zoomUp').addClass('disable');if(escala!=5)
{escalaAnterior=escala;escala=escala+0.1;if(escala>=5)escala=5;escalaInv=escala-0.1;if(escala!=escalaAnterior)
{var zoom=parseInt(100*escala);$('#infoZoom').html(zoom+"%");$('#infoZoom').fadeIn(500);setTimeout(function(){$('#infoZoom').fadeOut(500);},2000);}
$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+actualX+"px,"+actualY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");var escalaInv=1/escala;$('.marker').css("-moz-transform","scale("+escalaInv+")");$('.marker').css("-ms-transform","scale("+escalaInv+")");$('.marker').css("-o-transform","scale("+escalaInv+")");$('.marker').css("-webkit-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-moz-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-ms-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-o-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-webkit-transform","scale("+escalaInv+")");}}
if(tipo=="down")
{controlZoom=1;if(escala==1.1)
{$('#encajarEnPantalla').addClass('disable');$('#zoomDown').addClass('disable');}
$('#zoomUp').removeClass('disable');if(escala!=1)
{escalaAnterior=escala;escala=escala-0.1;if(escala<=1)escala=1;if(escala!=escalaAnterior)
{var zoom=parseInt(100*escala);$('#infoZoom').html(zoom+"%");$('#infoZoom').fadeIn(500);setTimeout(function(){$('#infoZoom').fadeOut(500);},2000);}
$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+actualX+"px,"+actualY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")");var limX=(($('#scroller').width()*escala-$('#scroller').width())/2)-(($('#wrapper').width()-$('#scroller').width())/2);if($('#wrapper').width()>$('#scroller').width()*escala)limX=0;var limY=($('#scroller').height()*escala-$('#scroller').height())/2;var limYB=(($('#scroller').height()*escala-$('#scroller').height())/2)+($('#scroller').height()-$('#wrapper').height());if(actualX>=limX)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+limX+"px,"+actualY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+limX+","+actualY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+limX+","+actualY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+limX+","+actualY+")");actualX=limX;}
else if(actualX<-limX)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+"px,"+actualY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+actualY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+actualY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+actualY+")");actualX=-limX;}
if(actualY>=limY)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+actualX+"px,"+limY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+limY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+limY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+limY+")");actualY=limY;}
else if(actualY<-limYB)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+actualX+"px,"+(-limYB)+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+(-limYB)+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+(-limYB)+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+actualX+","+(-limYB)+")");actualY=-limYB;}
if(escala<1)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+",0px,0px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+",0,0)");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+",0,0)");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+",0,0)");actualX=0;actualY=0;}
var escalaInv=1/escala;$('.marker').css("-moz-transform","scale("+escalaInv+")");$('.marker').css("-ms-transform","scale("+escalaInv+")");$('.marker').css("-o-transform","scale("+escalaInv+")");$('.marker').css("-webkit-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-moz-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-ms-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-o-transform","scale("+escalaInv+")");$("#comenzarScreemAprender").css("-webkit-transform","scale("+escalaInv+")");}}}
var activadoMover=0;var actualX=0;var actualY=0;var moviX=0;var moviY=0;function capturarCoordenadasInicio(ev)
{$('body').addClass('cursorGrabbing');var matrizInicioMoz="matrix("+escala+",0,0,"+escala+","+actualX+"px,"+actualY+"px)";var matrizInicio="matrix("+escala+",0,0,"+escala+","+actualX+","+actualY+")";$('#scroller').css("-moz-transform",matrizInicioMoz);$('#scroller').css("-ms-transform",matrizInicio);$('#scroller').css("-o-transform",matrizInicio);$('#scroller').css("-webkit-transform",matrizInicio);if(activadoMover==1)activadoMover=0;else activadoMover=1;inicioX=ev.clientX;inicioY=ev.clientY;}
function pararDesplazamiento(ev)
{$('body').removeClass('cursorGrabbing');activadoMover=0;var matriz=$('#scroller').css("-moz-transform");if(matriz==undefined)matriz=$('#scroller').css("-ms-transform");if(matriz==undefined)matriz=$('#scroller').css("-o-transform");if(matriz==undefined)matriz=$('#scroller').css("-webkit-transform");var arrayMatriz=matriz.split(',');trasX=parseInt(arrayMatriz[4]);trasY=parseInt(arrayMatriz[5]);actualX=trasX;actualY=trasY;var limX=(($('#scroller').width()*escala-$('#scroller').width())/2)-(($('#wrapper').width()-$('#scroller').width())/2);if($('#wrapper').width()>$('#scroller').width()*escala)limX=0;var limY=($('#scroller').height()*escala-$('#scroller').height())/2;var limYB=(($('#scroller').height()*escala-$('#scroller').height())/2)+($('#scroller').height()-$('#wrapper').height());if(trasX>=limX)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+limX+"px,"+moviY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+limX+","+moviY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+limX+","+moviY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+limX+","+moviY+")");moviX=limX;actualX=limX;}
else if(trasX<-limX)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+"px,"+moviY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+moviY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+moviY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+(-limX)+","+moviY+")");moviX=-limX;actualX=-limX;}
if(trasY>=limY)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+moviX+"px,"+limY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+limY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+limY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+limY+")");moviY=limY;actualY=limY;}
else if(trasY<-limYB)
{if($('#wrapper').height()>$('#scroller').height()*escala)limYB=-limY;$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+moviX+"px,"+(-limYB)+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+(-limYB)+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+(-limYB)+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+(-limYB)+")");moviY=-limYB;actualY=-limYB;}
if(escala<1)
{$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+",0px,0px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+",0,0)");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+",0,0)");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+",0,0)");actualX=0;actualY=0;}}
function desplazarLienzo(ev)
{var movX=ev.clientX;var movY=ev.clientY;if(activadoMover==1)
{moviX=movX-inicioX+actualX;moviY=movY-inicioY+actualY;$('#scroller').css("-moz-transform","matrix("+escala+",0,0,"+escala+","+moviX+"px,"+moviY+"px)");$('#scroller').css("-ms-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+moviY+")");$('#scroller').css("-o-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+moviY+")");$('#scroller').css("-webkit-transform","matrix("+escala+",0,0,"+escala+","+moviX+","+moviY+")");}}
var controlAciertos=[];var respuestasUsuario=[];var palabrasMostradas=[];var compruebaFin=0;function cambiarPalabra()
{aleatorio=1000;if(palabrasMostradas.length<=re.length-1)
{while(aleatorio>=re.length)
{aleatorio=parseInt(Math.random()*1000);for(i=0;i<palabrasMostradas.length;i++)
{if(aleatorio==palabrasMostradas[i])
{aleatorio=1000;break;}}}
palabrasMostradas.push(aleatorio);$('#valorPistaPalabra').html("");$('#audioPistaPalabra').html("");$('#valorPistaPalabra').html(re[aleatorio]);clearInterval(compruebaFin);if(au[aleatorio]!="no")
{$('#audioPistaPalabra').html("");$('#btnAudio').unbind("click");var rutaAudio=rutaRecursos+au[aleatorio];var rutaAudioOgg=rutaRecursosInicio+au[aleatorio];var audioCadena="<audio id='pistaAudio'><source src='"+rutaAudio+"' type='audio/mpeg'></source><source src='"+rutaAudio.substring(0,rutaAudio.length-3)+"ogg' type='audio/ogg'></source><source src='"+rutaAudioOgg.substring(0,rutaAudioOgg.length-3)+"ogg' onError='errores(-1);' type='audio/ogg'></source></audio>";$('#audioPistaPalabra').html(audioCadena);$('#btnAudio').show();$('#btnAudio').click(function(e){e.preventDefault();gestionReproducir("pistaAudio","iconoAudio");});reproducir("pistaAudio","iconoAudio");}
else
{$('#btnAudio').hide();}
var marg=parseInt($("#pistaPalabra").css("height"))+133;$("#wrapper").mousemove(function(e){if(e.pageY<marg){$("#pistaPalabra").addClass("pistaBottom");}else{$("#pistaPalabra").removeClass("pistaBottom");}});}
else
{numero_intentos=0;if(puntosReg>=50){for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('OK',puntosReg,tiempoReg)
cargarPantallaFinal('OK');}
else{for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('KO',puntosReg,tiempoReg)
cargarPantallaFinal('noSuperada');}
clearInterval(idInterval);}}
function reproducir(media,icono)
{try{document.getElementById(media).currentTime=0;}catch(e){}
document.getElementById(media).pause();if(document.getElementById(media).currentTime!=0)document.getElementById(media).load();document.getElementById(media).play();$("#"+icono).removeClass("iPlay");$("#"+icono).addClass("iPause");clearInterval(compruebaFin);compruebaFin=setInterval(function(){controlFinalAudio(media,icono);},500);}
function gestionReproducir(media,icono)
{if($("#"+icono).hasClass("iPlay"))
{$("#"+icono).removeClass("iPlay");$("#"+icono).addClass("iPause");reproducir(media,icono);}
else
{$("#"+icono).addClass("iPlay");$("#"+icono).removeClass("iPause");document.getElementById(media).pause();}}
function controlFinalAudio(media,icono)
{if(document.getElementById(media).ended)
{$("#"+icono).addClass("iPlay");$("#"+icono).removeClass("iPause");clearInterval(compruebaFin);}}
function errores(tipo)
{if(tipo==-1)
{$('#errorAudio').show();$('#audioOK').hide();$('#errorAudio').attr("title",txtErrorImagen);}
else
{$('#errorAudio_'+tipo).show();$('#audioOK_'+tipo).hide();$('#errorAudio_'+tipo).attr("title",txtErrorImagen);}}
function gestionarPalabra(event)
{if(forma_completar=="clickar")
{palabraActiva=aleatorio;if(palabraActiva<10)cadenaPalabraActiva="00"+palabraActiva;else if(palabraActiva<100)cadenaPalabraActiva="0"+palabraActiva;else cadenaPalabraActiva=palabraActiva;idPalabraSeleccionada=event.target.getAttribute("id");cadenaPalabraSeleccionada=idPalabraSeleccionada.substring(6,9);numeroPalabraSeleccionada=parseInt(idPalabraSeleccionada.substring(6,9),10);if(re[numeroPalabraSeleccionada]==$('#valorPistaPalabra').text())
{document.getElementById('audioBien').play();$("#marker"+cadenaPalabraSeleccionada).addClass("respuestaOK");$("#marker"+cadenaPalabraSeleccionada).html($("#marker"+cadenaPalabraSeleccionada).html()+"<div class='iconoRespuesta'></div>");$("#marker"+cadenaPalabraSeleccionada).unbind("click");controlAciertos[numeroPalabraSeleccionada]=1;respuestasUsuario[numeroPalabraSeleccionada]=$('#valorPistaPalabra').text();for(i=0;i<palabrasPulsadas.length;i++)
{$("#marker"+palabrasPulsadas[i]).click(gestionarPalabra);$("#marker"+palabrasPulsadas[i]).removeClass("respuestaIntentoMAL");}
setTimeout(function(){palabrasPulsadas=[];},50);reiniciarIntentos();actualizarPuntos();mostrarSolucion("ok");}
else
{respuestasUsuario[palabraActiva]=re[numeroPalabraSeleccionada];document.getElementById('audioMal').play();$("#marker"+cadenaPalabraSeleccionada).addClass("respuestaIntentoMAL");palabrasPulsadas.push(cadenaPalabraSeleccionada);$("#marker"+cadenaPalabraSeleccionada).unbind("click");actualizarIntentosClickar();}}
else if(forma_completar=="escribir")
{idPalabraActiva=event.target.getAttribute("id");cadenaPalabraActiva=idPalabraActiva.substring(6,9);palabraActiva=parseInt(idPalabraActiva.substring(6,9),10);mostrarPantallaEscribir();}}
var palabrasPulsadas=[];function actualizarIntentosClickar()
{var cadenaIntentos=$('#numIntentos').text();var pos=cadenaIntentos.indexOf("https://es.educaplay.com/");var numeroIntentos=parseInt(cadenaIntentos.substring(0,pos+1));if(numeroIntentos<numero_intentos-1)
{numeroIntentos++;cadenaIntentos=numeroIntentos+"<sup>/"+numero_intentos+"</sup>";$('#numIntentos').html(cadenaIntentos);$('#cajaIntentos').addClass('alertLuz');setTimeout(function(){$('#cajaIntentos').removeClass('alertLuz');},1000);}
else
{setTimeout(function(){for(i=0;i<palabrasPulsadas.length;i++)
{$("#marker"+palabrasPulsadas[i]).click(gestionarPalabra);$("#marker"+palabrasPulsadas[i]).removeClass("respuestaIntentoMAL");}},500);setTimeout(function(){palabrasPulsadas=[];},600);reiniciarIntentos();mostrarSolucion("mal");document.getElementById('audioMal').play();$("#marker"+cadenaPalabraActiva).addClass("respuestaMAL");$("#marker"+cadenaPalabraActiva).html($("#marker"+cadenaPalabraActiva).html()+"<div class='iconoRespuesta'></div>");$("#marker"+cadenaPalabraActiva).unbind("click");controlAciertos[palabraActiva]=0;}}
function reiniciarIntentos()
{$('#numIntentos').html("0<sup>/"+numero_intentos+"</sup>");}
function mostrarSolucion(tipo)
{if(tipo=="ok")
{var cadenaPa=cadenaPalabraSeleccionada;}
else
{var cadenaPa=cadenaPalabraActiva;}
$("#solucion"+cadenaPa).text(re[palabraActiva]);var anchuraTooltipI=58;var anchuraTooltipD=178;var alturaTooltip=158;var coX=parseInt($("#marker"+cadenaPa).css("left"),10);var coY=parseInt($("#marker"+cadenaPa).css("top"),10);claseCS="tooltip arriba centro";if((coX<130)&&(coY<80))claseCS="tooltip abajo derecha";else if((coX<130)&&(coY>80))claseCS="tooltip arriba derecha";else if((coX>$("#scroller").width()-130)&&(coY<80))claseCS="tooltip abajo izquierda";else if((coX>$("#scroller").width()-130)&&(coY>80))claseCS="tooltip arriba izquierda";else if(coY<80)claseCS="tooltip abajo centro";$("#solucion"+cadenaPa).addClass(claseCS);if(forma_completar=="clickar")cambiarPalabra();}
var catidadPalabrasAcertadas=0;var puntosReg=0;function actualizarPuntos()
{catidadPalabrasAcertadas++;var total=re.length;var puntos=100/total;cantidadActual=puntos*catidadPalabrasAcertadas;puntosReg=parseInt(cantidadActual);$("#numPuntos").html(parseInt(cantidadActual));}
var controlEjecucion=0;var markerAnterior="";function mostrarPantallaEscribir()
{if(is_touch_device()){myScroll.destroy();myScroll=null;}
redimensionar("encaja");$("#shadowMap").show();$("#marker"+cadenaPalabraActiva).css("z-index",12);if(controlEjecucion==1)
{$("#marker"+markerAnterior).bind("click",gestionarPalabra);$("#cuadroEscribir").removeClass(claseCE);}
markerAnterior=cadenaPalabraActiva;controlEjecucion=1;if(au[palabraActiva]!="no")
{var rutaAudio=rutaRecursos+au[palabraActiva];var rutaAudioOgg=rutaRecursosInicio+au[palabraActiva];var audioCadena="<audio id='pistaAudio'><source src='"+rutaAudio+"' type='audio/mpeg'></source><source src='"+rutaAudio.substring(0,rutaAudio.length-3)+"ogg' type='audio/ogg'></source><source src='"+rutaAudioOgg.substring(0,rutaAudioOgg.length-3)+"ogg' onError='errores(-1);' type='audio/ogg'></source></audio>";$('#audioPistaPalabra').html(audioCadena);$('#btnAudio').show();$('#btnAudio').click(function(e){e.preventDefault();gestionReproducir("pistaAudio","iconoAudio");});reproducir("pistaAudio","iconoAudio");}
else
{$('#btnAudio').hide();}
setTimeout(function(){var cX=parseInt($("#marker"+cadenaPalabraActiva).css("left"),10);var cY=parseInt($("#marker"+cadenaPalabraActiva).css("top"),10);claseCE="arriba centro";if((cX<130)&&(cY<80))claseCE="abajo derecha";else if((cX<130)&&(cY>80))claseCE="arriba derecha";else if((cX>$("#wrapper").width()-130)&&(cY<80))claseCE="abajo izquierda";else if((cX>$("#wrapper").width()-130)&&(cY>80))claseCE="arriba izquierda";else if(cY<80)claseCE="abajo centro";$("#cuadroEscribir").addClass(claseCE);$("#marker"+cadenaPalabraActiva).unbind("click");$("#btnComprueba").click(comprobarPalabra);$("#cuadroEscribir").appendTo("#marker"+cadenaPalabraActiva);$('#cuadroEscribir').show();$("#campoEscribir").focus();var cont=intentosPalabras[palabraActiva];if(cont==undefined)cont=0;cadenaIntentos=cont+1+"<sup>/"+numero_intentos+"</sup>";$('#numIntentos').html(cadenaIntentos);$('#cajaIntentos').addClass('alertLuz');setTimeout(function(){$('#cajaIntentos').removeClass('alertLuz');},1000);$(document).keyup(validarIntro);},200);}
function validarIntro(event)
{var evento=event||window.event;if(evento.keyCode==13)
{comprobarPalabra();}
if(evento.keyCode==27)
{cerrarPantallaEscribir();$("#marker"+cadenaPalabraActiva).bind("click",gestionarPalabra);}}
function cerrarPantallaEscribir()
{$("#campoEscribir").blur();if(is_touch_device()){myScroll=new iScroll('wrapper',{zoom:true});}
$(document).unbind("keyup");$('#cuadroEscribir').hide();$("#cuadroEscribir").removeClass(claseCE);$("#shadowMap").hide();$("#marker"+cadenaPalabraActiva).css("z-index","");$("#btnComprueba").unbind("click");$('#audioPistaPalabra').html("");$('#btnAudio').unbind("click");$('#btnAudio').hide();clearInterval(compruebaFin);if(is_touch_device())
{$("#marker"+cadenaPalabraActiva).appendTo("#main");$("#marker"+cadenaPalabraActiva).appendTo("#divImagen");}}
var palabrasAcertadas=[];function comprobarPalabra()
{controlEjecucion=0;var valorIntroducido=$("#campoEscribir").val();var valorCorrecto=re[palabraActiva];if(sensible_mayusculas=="no")
{valorIntroducido=valorIntroducido.toUpperCase();valorCorrecto=valorCorrecto.toUpperCase();}
if(sensible_acentos=="no")
{valorIntroducido=borraAcentos(valorIntroducido);valorCorrecto=borraAcentos(valorCorrecto);}
respuestasUsuario[palabraActiva]=valorIntroducido;if(valorIntroducido==valorCorrecto)
{document.getElementById('audioBien').play();$("#marker"+cadenaPalabraActiva).addClass("respuestaOK");$("#marker"+cadenaPalabraActiva).html($("#marker"+cadenaPalabraActiva).html()+"<div class='iconoRespuesta'></div>");controlAciertos[palabraActiva]=1;palabrasAcertadas.push(palabraActiva);actualizarPuntos();mostrarSolucion("esc");setTimeout(function(){if(comprobarFinal())
{numero_intentos=0;if(puntosReg>=50){for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('OK',puntosReg,tiempoReg)
cargarPantallaFinal('OK');}
else{for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('KO',puntosReg,tiempoReg)
cargarPantallaFinal('noSuperada');}
clearInterval(idInterval);}},50);}
else
{document.getElementById('audioMal').play();actualizarIntentosEscribir();}
$("#campoEscribir").val("");cerrarPantallaEscribir();}
var intentosPalabras=[];var controlIntentosPalabras=[];var controlFinal=0;function actualizarIntentosEscribir()
{if(intentosPalabras[palabraActiva]==undefined)intentosPalabras[palabraActiva]=0;if(intentosPalabras[palabraActiva]<numero_intentos-1)
{intentosPalabras[palabraActiva]++;$("#marker"+cadenaPalabraActiva).addClass("respuestaIntentoMAL");controlIntentosPalabras.push(cadenaPalabraActiva);setTimeout(function(){$("#marker"+controlIntentosPalabras[0]).removeClass("respuestaIntentoMAL");controlIntentosPalabras.shift();},1000);setTimeout(function(){$("#marker"+cadenaPalabraActiva).bind("click",gestionarPalabra)},50);}
else
{controlAciertos[palabraActiva]=0;$("#marker"+cadenaPalabraActiva).addClass("respuestaMAL");$("#marker"+cadenaPalabraActiva).html($("#marker"+cadenaPalabraActiva).html()+"<div class='iconoRespuesta'></div>");mostrarSolucion("esc");$("#marker"+cadenaPalabraActiva).unbind("click");setTimeout(function(){if(comprobarFinal())
{numero_intentos=0;if(puntosReg>=50){for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('OK',puntosReg,tiempoReg)
cargarPantallaFinal('OK');}
else{for(i=0;i<re.length;i++){if(re[i].toUpperCase()==respuestasUsuario[i].toUpperCase()){exito=1;}
else{exito=0;}
responderEscritaXapi(re[i],re[i],respuestasUsuario[i],exito)}
completarXapi('KO',puntosReg,tiempoReg)
cargarPantallaFinal('noSuperada');}
clearInterval(idInterval);}},50);}}
function borraAcentos(cadenaQuitar)
{var conAcentos="áàãâäéèêëíìîïóòõôöúùûüçÁÀÃÂÄÉÈÊËÍÌÎÏÓÒÕÖÔÚÙÛÜÇ";var sinAcentos="aaaaaeeeeiiiiooooouuuucAAAAAEEEEIIIIOOOOOUUUUC";var nueva="";var encontrada=0;for(i=0;i<cadenaQuitar.length;i++)
{encontrada=0;for(j=0;j<conAcentos.length;j++)
{if(cadenaQuitar[i]==conAcentos[j])
{nueva+=sinAcentos[j];encontrada=1;break;}}
if(encontrada==0)nueva+=cadenaQuitar[i];}
return nueva;}
function comprobarFinal()
{for(m=0;m<respuestaNum.length;m++)
{if(controlAciertos[m]==undefined)
{controlFinal=1;break;}}
if(controlFinal==0)
{return true;}
else
{controlFinal=0;return false;}}
function pantallaFinalSinJuego()
{for(i=0;i<re.length;i++)
{controlAciertos[i]=1;}
numero_intentos=0;$("#btnSeguir").unbind("click").click(function(e){e.preventDefault()});if(puntosReg>=50){completarXapi('OK',puntosReg,tiempoReg)
cargarPantallaFinal('OK');}
else{completarXapi('KO',puntosReg,tiempoReg)
cargarPantallaFinal('noSuperada');}
clearInterval(idInterval);}
function completarPantallaFinal()
{var img=new Image();img.src=rutaRecursos+imagen;img.id="imgFinalM";img.onload=function(){imagenAncho=img.width;imagenAlto=img.height;redimensionaIF();var divImagen=$("<div>",{id:"divImagenF",width:divAncho,height:divAlto});$("#respuestaResultados").append(divImagen);$("#divImagenF").append(img);for(i=0;i<re.length;i++)
{if(i<10)ix="00"+i;else if(i<100)ix="0"+i;else ix=i;var pxt=coordenadaX[i];var pyt=coordenadaY[i];var porceX=pxt*100/imagenAncho;var porceY=pyt*100/imagenAlto;var pxtp=porceX+"%";var pytp=porceY+"%";var claseRespuesta;if(controlAciertos[i]==1)claseRespuesta="respuestaOK";else claseRespuesta="respuestaMAL";var divMarker=$("<div>",{id:"markerF"+ix,"class":"marker "+claseRespuesta,css:{"left":pxtp,"top":pytp}});$("#divImagenF").append(divMarker);var divNumerito=$("<div>",{id:"numeritoF"+ix,"class":"numMapaRespuesta"});$(divNumerito).text(i+1);$("#markerF"+ix).append(divNumerito);var divSolucion=$("<div>",{id:"solucionF"+ix,"class":"tooltip"});$("#markerF"+ix).append(divSolucion);$("#solucionF"+ix).text(re[i]);}
$("#actividadMapa").append(divImagen);setTimeout(function(){for(i=0;i<re.length;i++)
{if(i<10)ix="00"+i;else if(i<100)ix="0"+i;else ix=i;var cX=parseInt($("#markerF"+ix).css("left"),10);var cY=parseInt($("#markerF"+ix).css("top"),10);var claseCSF="arriba centro";if((cX<130)&&(cY<80))claseCSF="abajo derecha";else if((cX<130)&&(cY>80))claseCSF="arriba derecha";else if((cX>$("#divImagenF").width()-130)&&(cY<80))claseCSF="abajo izquierda";else if((cX>$("#divImagenF").width()-130)&&(cY>80))claseCSF="arriba izquierda";else if(cY<80)claseCSF="abajo centro";$("#solucionF"+ix).addClass(claseCSF);}},1000);}
$(window).resize(function(){redimensionaIF();});finalCargado();completarPantallaFinal2();}
function finalCargado()
{if($("#resumen").css("display")=="block")redimensionaIF();else setTimeout(finalCargado,100);}
function redimensionaIF()
{if($("#resumen").width()<imagenAncho)
{divAncho=$("#resumen").width();divAlto=imagenAlto*divAncho/imagenAncho;}
else
{divAncho=imagenAncho;divAlto=imagenAlto;}
$("#divImagenF").width(divAncho);$("#divImagenF").height(divAlto);}
function completarPantallaFinal2()
{for(k=0;k<re.length;k++)
{crearElementosFinal(k);$('#numRespuesta_'+k).html(k+1);if(k<10)kx="00"+k;else if(k<100)kx="0"+k;else kx=k;$('#pCorrecta_'+k).html(re[k]);if(controlAciertos[k]!=1)$("#contentRespuesta_"+k).addClass('respuestaIncorrecta');}
$('.accordionButton').click(function(){$('.accordionButton').removeClass('on');$('.accordionContent').slideUp('slow');if($(this).next().is(':hidden')==true){$(this).addClass('on');$(this).next().slideDown('slow');cargarFinal(this);}});$('.accordionContent').hide();}
function crearElementosFinal(k)
{var cadenaHTML="";if(au[k]!="no")
{cadenaHTML+="<li class='pistaConSonido'>";cadenaHTML+="<div class='soundPlayer' id='btnAudio_"+k+"'>";cadenaHTML+="<div class='errorSound' id='errorAudio_"+k+"'></div>";cadenaHTML+="<a href='#' class='btn' id='audioOK_"+k+"'><span class='iPlayerReducido iPlay' id='iconoAudio_"+k+"'></span></a>";cadenaHTML+="</div>";setTimeout(function(){cargarAudio(k);},1000);}
else
{cadenaHTML+="<li>";}
if(globalFeedback==1)
{if(fe[k]!=undefined)
{cadenaHTML+="<div class='accordionButton' id='accordion_"+k+"'>";}}
cadenaHTML+="<div class='contentRespuesta' id='contentRespuesta_"+k+"'>";cadenaHTML+="<span class='numRespuesta' id='numRespuesta_"+k+"'></span>";cadenaHTML+="<span class='txtRespuesta'><span id='pCorrecta_"+k+"'></span></span>";if(globalFeedback==1)
{if(fe[k]!=undefined)
{cadenaHTML+="<span title='"+txtInfoAdicional+"' class='iExtraInfo'></span>";}}
cadenaHTML+="</div>";if(globalFeedback==1)
{if(fe[k]!=undefined)
{cadenaHTML+="</div>";}}
if(globalFeedback==1)
{if(fe[k]!=undefined)
{cadenaHTML+="<div class='accordionContent'>";cadenaHTML+="<div class='contentInfoRespuesta'>";cadenaHTML+="<div class='txtExtraInfo' id='txtExtraInfo_"+k+"'></div>";cadenaHTML+="</div>";cadenaHTML+="</div>";}}
cadenaHTML+="</li>";$("#listaFinal").html($("#listaFinal").html()+cadenaHTML);}
function cargarFinal(enlace)
{var idAccordion=$(enlace).attr('id');var k=parseInt(idAccordion.substring(10,13),10);if(globalFeedback==1)
{if(fe[k]!=undefined)
{$("#txtExtraInfo_"+k).html(fe[k]);}}}
function cargarAudio(num)
{var rutaAudio=rutaRecursos+au[num];var rutaAudioOgg=rutaRecursosInicio+au[num];var audioCadena="<audio id='pistaAudio_"+num+"'><source src='"+rutaAudio+"' type='audio/mpeg'></source><source src='"+rutaAudio.substring(0,rutaAudio.length-3)+"ogg' type='audio/ogg'></source><source src='"+rutaAudioOgg.substring(0,rutaAudioOgg.length-3)+"ogg' onError='errores("+num+");' type='audio/ogg'></source></audio>";$('#sonidos').html($('#sonidos').html()+audioCadena);$('#btnAudio_'+num).click(function(e){e.preventDefault();gestionReproducir("pistaAudio_"+num,"iconoAudio_"+num);});}